<v-sheet color="transparent" height="100%" class="mr-2 py-2 d-flex flex-column">
    <!-- <v-btn fab x-small class="btn-back" elevation="0" :ripple="false" color="transparent" @click="onBack">
        <svg-icon icon="back3" class="text-22"></svg-icon>
    </v-btn> -->

    <v-sheet color="transparent" class="rounded-lg" height="40">
        <horizontal_scroll :offsetx="16">
            <template v-slot="{data}">
                <v-btn
                    v-for="(item,key) of tagOptions"
                    :key="key"
                    :disabled="false"
                    class="rounded-pill mr-2 tag-btn"
                    :class="{'active': tag == key}"
                    elevation="0"
                    outlined
                    max-height="40"
                    @click="onTagClick(key)"
                >
                    <span class="d-flex align-center"> {{ LangUtil(item.title) }} </span>
                </v-btn>
            </template>
        </horizontal_scroll>
    </v-sheet>

    <v-sheet class="rounded-lg overflow-y-auto overflow-x-hidden scroll-div mt-1" style="flex: 1" color="bgBanner">
        <div class="d-flex pl-8 border-bottom">
            <template>
                <v-checkbox
                    v-for="sportId of raceSportArr"
                    v-model="checkBoxArr"
                    :value="Number(sportId)"
                    multiple
                    color="#feba00"
                    class="mr-8"
                    :key="sportId"
                    @change="onCheckboxChange"
                >
                    <template #label>
                        <svg-icon :icon="checkBoxOptions[sportId]?.icon" class="text-22 tagTextColor2--text"></svg-icon>
                    </template>
                </v-checkbox>
            </template>
        </div>
        <!-- 下一场 -->
        <template v-if="false">
            <RaceTable v-for="(item, index) of 3" :key="index" :isNextDay="true" :option="checkBoxOptions['h']"></RaceTable>
        </template>
        <template v-else>
            <template v-for="sportId of raceSportArr">
                <RaceTable
                    v-if="checkBoxArr.includes(Number(sportId))"
                    :key="sportId"
                    :option="checkBoxOptions[sportId]"
                    :table-data="pageData.competition_list[sportId]"
                ></RaceTable>
            </template>
        </template>
    </v-sheet>
</v-sheet>
