.pl10 {
    padding-left: 10px;
}
.px10 {
    padding-left: 10px;
    padding-right: 10px;
}
.pt15 {
    padding-top: 15px !important;
}
.pb15 {
    padding-bottom: 15px !important;
}
.pt17 {
    padding-top: 17px !important;
}
