<div>
    <!-- 下一场 -->
    <template v-if="isNext">
        <template v-if="!pageData.loading">
            <template v-for="item of tableData">
                <v-sheet
                    :key="item.id"
                    height="45"
                    width="100%"
                    class="hand px-2 py-1 d-flex align-center border-bottom"
                    @click="onShowDetail(item, item.r)"
                >
                    <v-img :src="item.country_icon" height="30" max-width="30" contain></v-img>
                    <svg-icon :icon="sportIcon[item.sport_id]" class="text-26 ml-2"></svg-icon>
                    <v-sheet
                        color="#feba00"
                        width="30"
                        height="18"
                        class="ml-2 rounded d-flex align-center justify-center font-weight-bold text-14 textGray2--text"
                    >
                        {{item.r}}
                    </v-sheet>
                    <span class="font-weight-bold text-14 tagTextColor2--text ml-2">{{item.competition_name}}</span>
                    <v-spacer></v-spacer>
                    <div class="d-flex align-center justify-center flex-column">
                        <template v-if="getStates(item.match.id)">
                            <template v-if="getStates(item.match.id).match_phase == 'OPEN'">
                                <svg-icon v-if="isShowP(item.match.id)" class="text-14 mb-1" icon="p"></svg-icon>
                                <CountdownTime :date="item.match.start_time_timestamp"></CountdownTime>
                            </template>
                            <div v-else-if="getStates(item.match.id).match_phase == 'DONE'">{{getRanking(item.match.id)}}</div>
                            <v-sheet v-else color="transparent" width="60" class="red--text text-center text-15">
                                {{getResultStr(getStates(item.match.id).match_phase)}}
                            </v-sheet>
                        </template>
                        <template v-else>
                            <CountdownTime :date="item.match.start_time_timestamp"></CountdownTime>
                        </template>
                    </div>
                </v-sheet>
            </template>
            <div v-if="tableData.length == 0" class="border-bottom">
                <Nodata height="300" />
            </div>
        </template>
        <template v-else>
            <div v-if="pageData.loading" class="border-bottom">
                <loader />
            </div>
        </template>
    </template>

    <template v-else>
        <v-row class="tableHeaderColor px-2 py-2" :class="{'hand': !isHideArrow}" no-gutters @click="onShowContent">
            <v-col class="d-flex align-center tagTextColor2--text">
                <v-sheet class="rounded" width="2" height="16" color="yellow1"></v-sheet>
                <svg-icon :icon="sportIcon[sportItem.sportId]" class="text-22 ml-2"></svg-icon>
                <div class="ml-2 font-weight-bold text-14">{{sportItem.title}}</div>
            </v-col>
            <v-col cols="auto" v-for="i of 14" :key="i">
                <v-sheet color="transparent" class="text-center tagTextColor1--text text-14" width="70">R{{ i }}</v-sheet>
            </v-col>
            <v-col cols="auto" class="d-flex align-center" v-if="!isHideArrow">
                <div class="icon-box iconfont text-14 tagTextColor2--text" :class="isShowContent? 'arrow-show':'arrow'">
                    <svg-icon icon="zoom_out"></svg-icon>
                </div>
            </v-col>
        </v-row>

        <v-expand-transition>
            <div v-show="isShowContent">
                <template v-if="!isLoading">
                    <v-row v-for="(item,index) of tableData" :key="index" class="border-bottom" no-gutters>
                        <v-col class="d-flex align-center tagTextColor2--text hand pl-2" @click="onShowHeaderDetail(item)">
                            <v-img :src="item.country_icon" height="30" max-width="30" contain></v-img>
                            <div class="py-2">
                                <div class="ml-2 font-weight-bold text-14">{{item.competition_name}} {{getEventDate(item.date)}}</div>
                                <div class="ml-2 font-weight-bold text-14 tagTextColor1--text">{{LangUtil(item.country)}}</div>
                            </div>
                        </v-col>
                        <v-col
                            cols="auto"
                            :class="{'hand': item.matches[i] && item.matches[i].is_open == 1}"
                            v-for="i of headerList"
                            :key="i"
                            @click="onShowDetail(item, i)"
                        >
                            <template v-if="item.matches[i] && item.matches[i].is_open == 1">
                                <v-sheet
                                    class="d-flex flex-column align-center justify-center primary--text text-14 px-1 border-left time_text"
                                    width="70"
                                    height="100%"
                                    style="background-color: transparent"
                                >
                                    <template v-if="getStates(item.matches[i].id)">
                                        <template v-if="getStates(item.matches[i].id).match_phase == 'OPEN'">
                                            <svg-icon v-if="isShowP(item.matches[i].id)" class="text-14 mb-1" icon="p"></svg-icon>
                                            <CountdownTime class="primary--text " :fontSize="15" :date="item.matches[i].start_time_timestamp"></CountdownTime>
                                        </template>
                                        <div v-else-if="getStates(item.matches[i].id).match_phase == 'DONE'">
                                            {{getRanking(item.matches[i].id)}}
                                        </div>
                                        <div class="red--text text-15" v-else>
                                            {{getResultStr(getStates(item.matches[i].id).match_phase)}}
                                        </div>
                                    </template>
                                    <template v-else>
                                        <CountdownTime :date="item.matches[i].start_time_timestamp"></CountdownTime>
                                    </template>
                                </v-sheet>
                            </template>
                            <template v-else>
                                <v-sheet
                                    v-if="item.matches[i]"
                                    width="70"
                                    height="100%"
                                    class="d-flex flex-column align-center justify-center tagTextColor1--text text-14 px-1 border-left col-disabled"
                                    style="background-color: transparent"
                                >
                                    -
                                </v-sheet>
                                <v-sheet
                                    width="70"
                                    height="100%"
                                    class="d-flex flex-column align-center justify-center tagTextColor1--text text-14 px-1 border-left"
                                    style="background-color: transparent"
                                >
                                </v-sheet>
                            </template>
                        </v-col>
                        <v-col v-if="!isHideArrow" cols="auto" class="d-flex align-center pr-2">
                            <v-sheet width="14" color="transparent"></v-sheet>
                        </v-col>
                    </v-row>
                    <div v-if="tableData?.length <= 0" class="border-bottom">
                        <Nodata height="300" />
                    </div>
                </template>
                <template v-else>
                    <div class="border-bottom">
                        <loader />
                    </div>
                </template>
            </div>
        </v-expand-transition>
    </template>
</div>
