<div>
    <!-- 下一场 -->
    <template v-if="isNextDay">
        <v-sheet height="45" width="100%" class="hand px-2 py-1 d-flex align-center border-bottom" @click="onShowDetail">
            <svg-icon icon="race" class="text-22 mx-1"></svg-icon>
            <v-sheet
                color="#feba00"
                width="30"
                height="18"
                class="ml-1 rounded d-flex align-center justify-center font-weight-bold text-14"
            >
                R{{1}}
            </v-sheet>
            <span class="font-weight-bold text-14 tagTextColor2--text ml-2">艾莉条斯普林斯</span>
            <v-spacer></v-spacer>
            <div class="d-flex align-center justify-center flex-column">
                <svg-icon class="text-14" icon="p"></svg-icon>
                <v-sheet v-if="false" color="timeColor1" class="white--text rounded text-center px-1 text-12 mt-1" min-width="50">
                    9分45秒
                </v-sheet>
                <v-sheet v-else color="timeColor2" class="white--text rounded text-center px-1 text-12 mt-1" min-width="50">
                    33分鐘
                </v-sheet>
            </div>
        </v-sheet>
    </template>
    <template v-else>
        <v-row class="tableHeaderColor px-2 py-2 hand" no-gutters @click="isShowContent = !isShowContent">
            <v-col class="d-flex align-center tagTextColor2--text">
                <v-sheet class="rounded" width="2" height="16" color="yellow1"></v-sheet>
                <svg-icon :icon="option.icon" class="text-22 ml-2"></svg-icon>
                <div class="ml-2 font-weight-bold text-14">{{option.title}}</div>
            </v-col>
            <v-col cols="auto" v-for="i of 14" :key="i">
                <v-sheet color="transparent" class="text-center tagTextColor1--text text-14" width="70">R{{ i }}</v-sheet>
            </v-col>
            <v-col cols="auto" class="d-flex align-center">
                <div class="icon-box iconfont text-14 tagTextColor2--text" :class="isShowContent? 'arrow-show':'arrow'">
                    <svg-icon icon="zoom_out"></svg-icon>
                </div>
            </v-col>
        </v-row>

        <v-expand-transition>
            <div v-if="isShowContent">
                <template v-if="tableData?.length > 0">
                    <v-row v-for="item of tableData" :key="item.competition_id" class="border-bottom" no-gutters>
                        <v-col class="d-flex align-center tagTextColor2--text hand pl-2" @click="onShowDetail">
                            <v-img :src="item.country_icon" height="30" max-width="30" contain></v-img>
                            <div class="py-2">
                                <div class="ml-2 font-weight-bold text-14">{{item.competition_name}} {{getEventDate(item.date)}}</div>
                                <div class="ml-2 font-weight-bold text-14 tagTextColor1--text">{{LangUtil(item.country)}}</div>
                            </div>
                        </v-col>
                        <v-col cols="auto" :class="{'hand': item.matches[i]}" v-for="i of headerList" :key="i" @click="onShowDetail(item.matches[i])">
                            <v-sheet
                                class="d-flex flex-column align-center justify-center tagTextColor1--text text-14 px-1"
                                width="70"
                                height="100%"
                                color="transparent"
                                style="border-left: 1px solid #d6dde3 !important"
                            >
                                <template v-if="item.matches[i]">
                                    <template v-if="item.matches[i].states">
                                        <svg-icon class="text-14" icon="p"></svg-icon>
                                        <!-- <CountdownTime :date="item.matches[i].start_time_timestamp"></CountdownTime> -->
                                        <div>{{item.matches[i].states.match_phase}}</div>

                                    </template>
                                    <template v-else>
                                        <div class="timeColor2--text">{{getStartTime(item.matches[i].start_time_timestamp)}}</div>
                                    </template>
                                </template>
                            </v-sheet>
                        </v-col>
                        <v-col cols="auto" class="d-flex align-center pr-2">
                            <v-sheet width="14" color="transparent"></v-sheet>
                        </v-col>
                    </v-row>
                </template>
                <!-- v-if="pageData.list.length == 0 && !pageData.loading" -->
                <template v-else>
                    <div v-if="isLoading" class="border-bottom">
                        <loader />
                    </div>
                    <div v-else class="border-bottom">
                        <Nodata height="300" />
                    </div>
                </template>
            </div>
        </v-expand-transition>
    </template>
</div>
