<div>
    <div class="header_m">
        <v-sheet height="54" class="d-flex align-center header_mbg">
            <v-btn icon @click="onBack">
                <svg-icon class="white--text" icon="back2"></svg-icon>
            </v-btn>
            <v-spacer />

            <v-btn
                class="mr-1 rounded-pill elevation-0 font-weight-bold px-4 btnType"
                x-small
                :class="{'active': listQuery.is_settle == 0}"
                @click="onTabClick(0)"
                min-width="120"
                height="36"
            >
                <span class="text-14"> {{ LangUtil("未结算") }} </span>
            </v-btn>
            <v-btn
                class="mx-1 rounded-pill elevation-0 font-weight-bold px-4 mr-10 btnType"
                x-small
                :class="{'active': listQuery.is_settle == 1}"
                @click="onTabClick(1)"
                min-width="120"
                height="36"
            >
                <span class="text-14"> {{ LangUtil("已结算") }} </span>
            </v-btn>
            <v-spacer />
        </v-sheet>

        <v-sheet color="bgPage" class="pt-2">
            <v-sheet
                class="mx-2 rounded-lg overflow-hidden font-weight-bold"
                height="40"
                color="transparent"
                v-if="listQuery.is_settle == 1"
            >
                <v-tabs
                    height="40"
                    slider-color="yellow1"
                    background-color="bgBanner"
                    slider-size="2"
                    grow
                    active-class="tabsActive"
                    v-model="pageData.isActive"
                >
                    <v-tab @click="onLimitOrder(0)">{{LangUtil('今日')}}</v-tab>
                    <v-tab @click="onLimitOrder(-1)">{{LangUtil('昨天')}}</v-tab>
                    <v-tab @click="onLimitOrder(7)">{{LangUtil('7天')}}</v-tab>
                    <v-tab @click="onLimitOrder(30)">{{LangUtil('近30日')}}</v-tab>
                </v-tabs>
            </v-sheet>

            <v-sheet
                v-if="pageData.list.length != 0"
                color="bgBanner"
                class="d-flex px-2 py-2 rounded-lg mt-2 mx-2 py-1 text-14 font-weight-bold"
            >
                <v-sheet width="2" height="16" color="yellow" class="mr-2" style="margin-top: 3px"></v-sheet>
                <div>
                    <span class="mr-2 _title"
                        >{{LangUtil("投注数量")}} <span class="blackText--text"> {{pageData.stats.total_count}}</span></span
                    >
                    <span class="mr-2 _title">
                        {{LangUtil("投注额度")}}
                        <span class="blackText--text"> {{GlobalVar.currency}} {{ amountFormat(pageData.stats.total_stake,true)}}</span>
                    </span>
                    <span v-if="listQuery.is_settle == 1" class="mr-2 _title">
                        {{LangUtil("输赢")}}
                        <span :class="pageData.stats.total_win >= 0 ? 'success--text' : 'error--text'"
                            >{{GlobalVar.currency}} {{pageData.stats.total_win>=0 ? "+" : ""}}{{
                            amountFormat(pageData.stats.total_win,true,2)}}</span
                        >
                    </span>
                </div>
            </v-sheet>
        </v-sheet>
    </div>

    <div ref="divScroll" class="overflow-hidden pb-16">
        <loader v-if="pageData.loading" />
        <div v-else>
            <!-- 手机 -->
            <load_more @onRefresh="onRefresh" @onLoad="onLoad" :finished="pageData.finished" :listNodata="pageData.list.length == 0">
                <v-sheet
                    color="bgBanner"
                    class="mx-2 mt-2 pt-2 pb-3 text-12 rounded default-color"
                    v-for="(item, index) in pageData.list"
                    :key="index"
                >
                    <template v-if="item.bet_type == 'single'">
                        <div v-for="(leg, index1) in item.leg_info" :key="index + index1">
                            <div class="d-flex align-center">
                                <v-sheet width="2" height="16" color="yellow" class="mx-2"></v-sheet>
                                <div class="text-16 text-truncate font-weight-bold">{{leg.competition_name}}</div>
                            </div>

                            <v-sheet class="ml-4 mr-2 mt-2 rounded pa-0 order-content" color="transparent">
                                <div class="d-flex text-14 font-weight-bold top-text">
                                    <div v-if="leg.c_type == 2">{{leg.content}}</div>
                                    <div v-else>
                                        {{ OrderTitleUtils.getTeamName(leg, false)}}{{ OrderTitleUtils.getOrderTitle(leg,true)}}
                                    </div>
                                    <v-spacer />
                                    <div class="mr-2 text-16">@{{TransMarketPrice(leg.odds)}}</div>
                                </div>

                                <div class="text-14">
                                    <span v-if="leg.state && Object.keys(leg.state).length > 0">{{LangUtil("滚球")}}</span>
                                    <span class="font-weight-bold" v-if="leg.state && Object.keys(leg.state).length > 0"
                                        >{{OrderTitleUtils.getScoreStr(leg)}}</span
                                    >
                                    <span>{{transTitle(leg.market_type_text,index)}}</span>
                                </div>

                                <div class="text-14 d-flex flex-wrap">
                                    <span class="mr-1"
                                        >{{leg.home_name}}
                                        <span class="mx-1">VS</span>
                                        {{leg.away_name}}</span
                                    >
                                    <span
                                        class="font-weight-black scoreColor--text"
                                        v-if="listQuery.is_settle == 1 && leg.status !== 3 && leg.c_type != 2"
                                    >
                                        <!-- {{getHadResultStr(leg)}} -->
                                        {{leg.settle_score}}
                                    </span>
                                </div>

                                <v-sheet class="text-14" v-if="listQuery.is_settle != 1" color="transparent">
                                    <span>{{ getStateStr(myProxy.event_states(leg)).states_str}}</span>
                                    <span class="font-weight-bold"> {{getStateStr(myProxy.event_states(leg)).scoreStr}}</span>
                                </v-sheet>
                            </v-sheet>
                            <div class="my-2 mx-n2 line"></div>
                        </div>

                        <div class="ml-4 mr-2" style="position: relative;">
                            <v-sheet width="100%" color="transparent">
                                <span class="textGray--text mr-1">{{LangUtil("订单状态")}}</span>
                                <span :style="{ 'color': statusMapColor[item.status]} ">{{statusMap[item.status]}}</span>
                            </v-sheet>
                            <div v-if="item.status==3" :style="{ 'color': statusMapColor[item.status]} ">{{LangUtil(item.mark)}}</div>

                            <v-sheet width="100%" color="transparent">
                                <span class="textGray--text mr-1">{{LangUtil("投注金额")}}</span>
                                <span>{{GlobalVar.currency}} {{amountFormat(item.stake,true) }} </span>
                            </v-sheet>

                            <v-sheet width="100%" v-if="listQuery.is_settle == 0" color="transparent">
                                <span class="textGray--text mr-1">{{getdisplayResultStr(item)}}</span>
                                <span :style="{ 'color': getDisplayResult(item).color}">{{getDisplayResult(item).str}} </span>
                            </v-sheet>
                            <v-sheet width="100%" color="transparent">
                                <span class="textGray--text mr-1">{{LangUtil("订单编号")}}</span>
                                <span>{{item.order_no}}</span></v-sheet
                            >
                            <v-sheet width="100%" color="transparent">
                                <span class="textGray--text mr-1">{{LangUtil("投注时间")}}</span>
                                <span>
                                    {{dateFormat(getDateByTimeZone(item.create_time * 1000 ,GlobalVar.zone) ,'yyyy/MM/dd hh:mm:ss')}}
                                </span>
                            </v-sheet>

                            <v-sheet width="100%" color="transparent" v-if="listQuery.is_settle">
                                <span class="textGray--text mr-1">{{LangUtil("结算时间")}}</span>
                                <span>
                                    {{dateFormat(getDateByTimeZone(item.settle_time * 1000 ,GlobalVar.zone) ,'yyyy/MM/dd hh:mm:ss')}}
                                </span>
                            </v-sheet>

                            <v-sheet
                                width="100%"
                                color="transparent"
                                class="d-flex justify-end font-weight-bold text-14"
                                v-if="listQuery.is_settle && item.status == 1"
                            >
                                <span class="mr-1 btnPlain--text">{{LangUtil("输赢")}} {{GlobalVar.currency}}</span>
                                <span :class="item.win>=0 ? 'success--text' : 'error--text' ">
                                    {{item.win>=0 ? "+" : ""}}{{amountFormat(item.win,true,3)}}
                                </span>
                            </v-sheet>

                            <v-img :src="getWinType(item)" class="win-type" v-if="listQuery.is_settle && item.win_type">
                                <div>{{getWinTypeStr(item)}}</div>
                            </v-img>
                        </div>
                    </template>
                    <template v-if="item.bet_type == 'multi'">
                        <ParlayOrder :item="item"></ParlayOrder>
                    </template>
                </v-sheet>
            </load_more>
        </div>
    </div>
</div>
