<div>
    <v-sheet
        class="d-flex align-center px10 textGray--text div-sticky-1"
        :class="pageData.isShowLiveList ? 'rounded-10' : 'rounded-t-10'"
        color="bgBanner"
        height="50"
    >
        <v-sheet
            class="d-flex align-center btnPlain--text hand mr-2"
            color="transparent"
            max-width="70%"
            height="230"
            @click="pageData.isShowLiveList = !pageData.isShowLiveList"
            v-if="competition"
        >
            <v-img width="20" height="20" :src="competition.country_icon"></v-img>
            <div class="text-14 mx10 text-truncate">{{matche.home_team}} VS {{matche.away_team}}</div>
            <svg-icon class="text-12 textGray--text" icon="zoom_out"></svg-icon>
        </v-sheet>
        <v-spacer />

        <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
                <v-sheet color="transparent" v-bind="attrs" v-on="on">
                    <svg-icon
                        class="text-26 hand textGray--text"
                        :icon="pageData.liveIndex==0 ? 'score1_' : 'score1'"
                        @click.native="pageData.liveIndex = 0"
                    ></svg-icon>
                </v-sheet>
            </template>
            <v-sheet class="rounded px-2 py-1" max-width="300" color="bgBanner">
                <span>{{LangUtil("比分")}}</span>
            </v-sheet>
        </v-tooltip>

        <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
                <v-sheet color="transparent" v-bind="attrs" v-on="on">
                    <svg-icon
                        class="text-28 hand mx10 textGray--text"
                        :icon="pageData.liveIndex==1 ? 'live1_' : 'live1'"
                        @click.native="pageData.liveIndex = 1"
                    ></svg-icon>
                </v-sheet>
            </template>
            <v-sheet class="rounded px-2 py-1" max-width="300" color="bgBanner">
                <span>{{LangUtil("直播")}}</span>
            </v-sheet>
        </v-tooltip>

        <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
                <v-sheet color="transparent" v-bind="attrs" v-on="on">
                    <svg-icon
                        class="text-24 mr-2 mt-1 hand textGray--text"
                        :icon="pageData.liveIndex==2 ? 'animate1_' : 'animate'"
                        @click.native="pageData.liveIndex = 2"
                    ></svg-icon>
                </v-sheet>
            </template>
            <v-sheet class="rounded px-2 py-1" max-width="300" color="bgBanner">
                <span>{{LangUtil("动画")}}</span>
            </v-sheet>
        </v-tooltip>
    </v-sheet>
    <template v-if="pageData.isShowLiveList">
        <div class="text-18 font-weight-bold my15">{{LangUtil("热门赛事")}}</div>
        <LiveList @onChange="pageData.isShowLiveList = false" />
    </template>
    <template v-else>
        <v-divider class="div-sticky-2" />
        <Live class="div-sticky-3" v-model="pageData.liveIndex" />
        <Matche />
    </template>
</div>
