<v-sheet class="pa10 pt15 text-14 textGray--text bgtexture" color="transparent">
    <div>
        <v-row dense>
            <v-col class="text-center text-truncate"> {{matche.home_team}} </v-col>
            <v-col class="text-center text-truncate"> {{matche.away_team}} </v-col>
        </v-row>
        <v-row dense>
            <v-col>
                <BtnFixedBet
                    class="mb-1"
                    v-for="(item,index) in marketOrder1"
                    :key="index"
                    :matche="matche"
                    :market="market"
                    :selection="item"
                >
                </BtnFixedBet>
            </v-col>
            <v-col class="ml-n1">
                <BtnFixedBet
                    class="mb-1"
                    v-for="(item,index) in marketOrder2"
                    :key="index"
                    :matche="matche"
                    :market="market"
                    :selection="item"
                >
                </BtnFixedBet>
            </v-col>
        </v-row>
    </div>
</v-sheet>
