<v-sheet color="transparent">
    <v-card class="d-flex align-center elevation-0" color="bgPage" :disabled="pageData.loading">
        <horizontal_scroll class="align-center mt-2 mb-1">
            <template v-slot="{data}">
                <v-btn
                    class="rounded-10 btntype mr6"
                    :class="{'active': myProxy.listQueryMarket.market_type == item.id}"
                    height="30"
                    outlined
                    color="borderGray"
                    v-for="(item, index) in myProxy.marketTypeOptions"
                    :key="index"
                    @click="!data.isMoving && onMarketType(item.id)"
                >
                    <span class="textGray--text text-13 txt">{{item.name}}</span>
                </v-btn>
            </template>
        </horizontal_scroll>

        <v-spacer />
        <v-sheet
            class="d-flex align-center justify-center ml-2 rounded-10 hand textGray--text"
            color="bgBanner"
            min-width="32"
            height="32"
            v-ripple
            @click="onOpenAll"
        >
            <div :class="pageData.isOpenAll ? 'arrow-down' : 'arrow-up'"><svg-icon class="text-20" icon="zoom_all"></svg-icon></div>
        </v-sheet>
    </v-card>

    <!-- list -->
    <v-sheet
        ref="divlist"
        :class="{'overflow-y-auto': !$vuetify.breakpoint.mobile}"
        class="scroll-div"
        color="transparent"
        v-if="matche && !pageData.loading"
    >
        <v-expansion-panels
            class="mt-1"
            elevation="0"
            accordion
            multiple
            v-model="pageData.panelIndexs"
            v-if="pageData.market_list.length>0 && Object.keys(pageData.market_list[0].fix_markets).length>0"
        >
            <v-expansion-panel :id="`panel${index}`" v-for="(market, index) of marketSort" :key="index" elevation="0" class="mb-2">
                <v-expansion-panel-header elevation="0" rounded="lg" color="bgBanner">
                    <template v-slot:default="{ open }">
                        <div class="d-flex align-center">
                            <div class="d-flex align-center" @click.stop="{}">
                                <v-sheet class="mx10" min-width="2" height="16" color="yellow" rounded></v-sheet>

                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <div class="mr-1 font-weight-bold text-14 btnPlain--text" v-bind="attrs" v-on="on">
                                            <span>{{transTitle(market.title)}}</span>
                                            <svg-icon icon="help1" class="yellow--text ml-1"></svg-icon>
                                        </div>
                                    </template>
                                    <v-sheet class="rounded px-2 py-1" max-width="300" color="bgBanner">
                                        <span>{{market.hint}}</span>
                                    </v-sheet>
                                </v-tooltip>
                            </div>

                            <v-spacer />
                            <svg-icon
                                class="textGray--text text-12 mr-2"
                                icon="zoom_out"
                                :class="open ? 'arrow-up' : 'arrow-down'"
                            ></svg-icon>
                        </div>
                        <!-- <v-divider v-if="open" class="titleline" /> -->
                    </template>
                </v-expansion-panel-header>

                <v-expansion-panel-content elevation="0" color="transparent">
                    <MarketM1 v-if="marketTypeKind[1].includes(market.market_type)" :matche="matche" :market="market" />
                    <MarketM2 v-if="marketTypeKind[2].includes(market.market_type)" :matche="matche" :market="market" />
                    <MarketM3 v-if="marketTypeKind[3].includes(market.market_type)" :matche="matche" :market="market" />
                    <MarketM4 v-if="marketTypeKind[4].includes(market.market_type)" :matche="matche" :market="market" />
                    <MarketM5 v-if="marketTypeKind[5].includes(market.market_type)" :matche="matche" :market="market" />
                    <MarketM6 v-if="marketTypeKind[6].includes(market.market_type)" :matche="matche" :market="market" />
                    <MarketM7 v-if="marketTypeKind[7].includes(market.market_type)" :matche="matche" :market="market" />
                    <MarketM8 v-if="marketTypeKind[8].includes(market.market_type)" :matche="matche" :market="market" />
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>
        <Nodata v-else height="300" />
    </v-sheet>

    <loader v-if="pageData.loading" />
</v-sheet>
