<v-sheet color="transparent" >
    <v-sheet class="d-flex align-center" color="transparent" max-height="40px">
        <v-sheet
            ref="boxType"
            class="btnGroup d-flex align-center pt-6"
            color="transparent"
            max-width="100%"
            @mousedown="onMouseDown"
            @mouseup="onMouseUp"
            @mousemove="onMouseMove"
        >
            <v-btn
                class="rounded-10 btntype mr6"
                height="30"
                outlined
                :color="myProxy.listQueryMarket.market_type == item.id ? 'yellow' : 'borderGray' "
                v-for="(item, index) in myProxy.marketTypeOptions"
                :key="index"
                @click="onMarketType(item.id)"
            >
                <span class="textGray--text text-13">{{item.name}}</span>
            </v-btn>
        </v-sheet>
        <v-sheet
            class="d-flex align-center justify-center ml-2 mt-2 rounded-10 hand textGray--text"
            color="bgBanner"
            min-width="32"
            height="32"
            v-ripple
            @click="onOpenAll"
        >
            <div :class="pageData.isOpenAll ? 'arrow-down' : 'arrow-up'"><svg-icon class="text-20" icon="zoom_all"></svg-icon></div>
        </v-sheet>
    </v-sheet>

    <!-- list -->
    <v-sheet  color="transparent" v-if="matche">
        
        <v-expansion-panels
            class="mt-2"
            elevation="0"
            accordion
            multiple
            v-model="pageData.panelIndexs"
            v-if="pageData.market_list.length>0 && Object.keys(pageData.market_list[0].fix_markets).length>0"
        >
            <v-expansion-panel
                :id="`panel${index}`"
                v-for="(market, index) of pageData.market_list[0].fix_markets"
                :key="index"
                elevation="0"
                class="mb-2"
            >
                <v-expansion-panel-header elevation="0" rounded="lg" color="bgBanner">
                    <template v-slot:default="{ open }">
                        <div class="d-flex align-center">
                            <v-sheet class="mx10" min-width="2" height="16" color="yellow" rounded></v-sheet>
                            <div class="mr-1 font-weight-bold text-14 btnPlain--text">{{ market.title }}</div>
                            <v-spacer />
                            <svg-icon
                                class="textGray--text text-12 mr-2"
                                icon="zoom_out"
                                :class="open ? 'arrow-up' : 'arrow-down'"
                            ></svg-icon>
                        </div>
                        <v-divider v-if="open" class="titleline" />
                    </template>
                </v-expansion-panel-header>

                <v-expansion-panel-content elevation="0" color="transparent">
                    <MarketM1 v-if="marketTypeKind[1].includes(market.market_type)" :matche="matche" :market="market" />
                    <MarketM2 v-if="marketTypeKind[2].includes(market.market_type)" :matche="matche" :market="market" />
                    <MarketM3 v-if="marketTypeKind[3].includes(market.market_type)" :matche="matche" :market="market" />
                    <MarketM4 v-if="marketTypeKind[4].includes(market.market_type)" :matche="matche" :market="market" />
                    <MarketM5 v-if="marketTypeKind[5].includes(market.market_type)" :matche="matche" :market="market" />
                    <MarketM6 v-if="marketTypeKind[6].includes(market.market_type)" :matche="matche" :market="market" />
                    <MarketM7 v-if="marketTypeKind[7].includes(market.market_type)" :matche="matche" :market="market" />
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>
        <Nodata v-else height="300"/>
    </v-sheet>
</v-sheet>
