<div>
    <v-sheet class="text-14 pl10 py-2 btnPlain--text rounded-10" color="bgBanner">
        <v-row dense>
            <v-col cols="3" class="textGray--text">{{LangUtil("总计")}}</v-col>
            <v-col cols="9" class="font-weight-bold">{{pageData.stats.total_count}}</v-col>
        </v-row>
        <v-row dense class="mt-n1">
            <v-col cols="3" class="textGray--text">{{LangUtil("投注额")}}</v-col>
            <v-col cols="9" class="font-weight-bold">{{GlobalVar.currency}}: {{pageData.stats.total_stake}}</v-col>
        </v-row>
    </v-sheet>
    <v-sheet class="text-13 mt-2 pb-2 pt10 textGray--text rounded-10" color="bgBanner" v-for="(item, index) in pageData.list" :key="index">
        <v-sheet class="d-flex align-center btnPlain--text px10 text-14" color="transparent">
            <v-sheet width="2" height="16" color="yellow"></v-sheet>
            <div class="pl10">{{item.cpn}}</div>
        </v-sheet>
        <v-divider class="my-2" />

        <div class="d-flex px10">
            <div v-if="item.c_type == 2">{{item.content}}</div>
            <div v-else>{{ OrderTitleUtils.getTeamName(item, false)}}{{ OrderTitleUtils.getOrderTitle(item,true)}}</div>
            <v-spacer />
            <div>@{{TransMarketPrice(item.odds)}}</div>
        </div>

        <div class="d-flex px10 mt-1" v-if="item.state && Object.keys(item.state).length > 0">
            <div>{{LangUtil("滚球")}}</div>
            <v-spacer />
            <div class="font-weight-bold">{{OrderTitleUtils.getScoreStr(item)}}</div>
        </div>

        <div class="px10 mt-1">{{item.market_type_text}}</div>

        <div class="px10 mt-1 d-flex flex-wrap">
            {{item.home_name}} <span class="font-weight-bold mx-1">VS</span> {{item.away_name}}
            <span class="font-weight-black mr-2 scoreColor--text" v-if="listQuery.is_settle == 1 && item.status !== 3 && item.c_type != 2"
                >{{getHadResultStr(item)}}</span
            >
        </div>

        <div class="px10 mt-1 d-flex" v-if="listQuery.is_settle != 1">
            <div>{{ getStateStr(myProxy.event_states(item)).states_str}}</div>
            <v-spacer />
            <div>{{getStateStr(myProxy.event_states(item)).scoreStr}}</div>
        </div>
        <v-divider class="my-2" />

        <div class="d-flex px10">
            {{LangUtil("订单状态")}}
            <v-spacer />
            <span class="font-weight-bold" :style="{ 'color': statusMapColor[item.status]}">{{statusMap[item.status] || "--"}}</span>
        </div>
        <div v-if="item.status==3" class="font-weight-bold" :style="{ 'color': statusMapColor[item.status]} ">{{LangUtil(item.mark)}}</div>

        <div class="d-flex px10 mt-1">
            <div>{{LangUtil("投注金额")}}</div>
            <v-spacer />
            <span> {{GlobalVar.currency}} {{amountFormat(item.stake,true) }}</span>
        </div>

        <div class="d-flex px10 mt-1">
            <div>{{getdisplayResultStr(item)}}</div>
            <v-spacer />
            <span class="font-weight-bold" :style="{ 'color': getDisplayResult(item).color}">{{getDisplayResult(item).str}}</span>
        </div>

        <div class="d-flex px10 mt-1 align-center">
            <div>{{LangUtil("订单编号")}}</div>
            <v-spacer />
            <div>{{item.order_no || "--"}}</div>
            <v-btn v-if="item.order_no" fab plain x-small max-height="20" @click="onCopy(item.order_no)">
                <svg-icon class="text-16 textGray--text" icon="copy"></svg-icon>
            </v-btn>
        </div>

        <div class="d-flex px10 mt-1">
            <div>{{LangUtil("投注时间")}}</div>
            <v-spacer />
            <div>{{dateFormat(getDateByTimeZone(item.create_time_timestamp * 1000 ,GlobalVar.zone) ,'yyyy/MM/dd hh:mm:ss')}}</div>
        </div>

        <div class="d-flex px10 mt-1" v-if="listQuery.is_settle">
            <div>{{LangUtil("结算时间")}}</div>
            <v-spacer />
            <div>{{dateFormat(getDateByTimeZone(item.settle_time_timestamp * 1000 ,GlobalVar.zone) ,'yyyy/MM/dd hh:mm:ss')}}</div>
        </div>
        <!--
        <v-sheet width="100%" class="d-flex justify-end" v-if="listQuery.is_settle && item.status == 1">
            <span class="mr-1">{{LangUtil("输赢")}} {{GlobalVar.currency}}</span>
            <span class="font-weight-bold" :class="item.win>=0 ? 'success--text' : 'error--text' ">
                {{item.win>=0 ? "+" : ""}}{{amountFormat(item.win,true,3)}}
            </span>
        </v-sheet> -->
    </v-sheet>
    <v-sheet class="d-flex justify-center my-1" color="transparent">
        <v-btn @click="onMore" small plain v-if="pageData.pageInfo.pageCurrent != pageData.pageInfo.pageCount && pageData.list.length != 0">
            {{LangUtil("加载更多")}}
        </v-btn>
    </v-sheet>
    
</div>
