#svga-player-football_01,
#svga-player-football_02,
#svga-player-football_03,
#svga-player-football_04,
#svga-player-basketball_01,
#svga-player-basketball_02,
#svga-player-basketball_03,
#svga-player-basketball_04,
#svga-player-soccer_01,
#svga-player-soccer_02,
#svga-player-soccer_03,
#svga-player-soccer_04 {
    transform: scale(1.5);
}
#svga-player-race_01,
#svga-player-race_02,
#svga-player-race_03,
#svga-player-race_04 {
    transform: scale(1.7) translateY(-4px);
}
#svga-player-greyhound_racing_01,
#svga-player-greyhound_racing_02,
#svga-player-greyhound_racing_03,
#svga-player-greyhound_racing_04 {
    transform: scale(2) translateY(-7px);
}
#svga-player-harness_racing_01,
#svga-player-harness_racing_02,
#svga-player-harness_racing_03,
#svga-player-harness_racing_04 {
    transform: scale(1.5) translateY(-5px);
}
