.btn {
    &.active {
        background: linear-gradient(to right, #fcb131, #ffe64d);
        color: #0f1213;
    }
    &.disabled {
        pointer-events: none;
    }
}
.theme--light {
    .btn {
        background-color: #ffffff;
        border: solid 1px #dcdcdc;
        &:hover {
            background-color: #fffff0;
            border-color: #ffec8e;
        }
    }
}
.theme--dark {
    .btn {
        background-color: #272828;
        border: solid 1px #333435;
        &:hover {
            filter: brightness(120%);
        }
        &.active {
            .divslot {
                color: #0f1213;
            }
        }
    }
}

.btn-disabled {
    background-color: #f6f6f6;
    pointer-events: none;
}

.opacity-0 {
    opacity: 0;
}

.animation-translate {
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes shake {
    0%,
    100% {
        transform: translatey(1px);
    }

    50% {
        transform: translatey(-1px);
    }
}
