<v-sheet ref="divBox" class="d-flex align-center justify-center rounded-10 hand btn" height="36" @click="onBet">
    <svg-icon class="textGray--text" icon="lock" v-if="!selection.type || !market"></svg-icon>
    <div class="d-flex align-center justify-center font-weight-bold" color="transparent" style="width:100%" v-else>
        <div class="ml-2"><slot></slot></div>
        <v-spacer v-if="$slots.default" />
        <svg-icon class="textGray--text ml-3" icon="lock" v-if="market.status == 2 || selection.status != 0"></svg-icon>
        <div v-else ref="divPrice" class="ml-3 font-weight-bold text-14">{{TransMarketPrice(getPrice())}}</div>
    </div>
    <div ref="imgOdds" class="text-8 mx-1 opacity-0" v-if="market && (market.status == 2 || selection.status == 0) && selection.type">
        <svg-icon :icon="iconOdds"></svg-icon>
    </div>
</v-sheet>
