<v-sheet
    ref="divBox"
    class="d-flex align-center justify-center rounded-5 hand btn"
    :class="{'disabled': !market || market.status == 2 || selection.status != 0 || !selection.price.back}"
    height="30"
    @click="onBet"
>
    <svg-icon class="btnPlain--text ml-3" icon="lock" v-if="!selection.type || !market"></svg-icon>
    <div v-else class="d-flex align-center justify-center" color="transparent" style="width: 100%">
        <div class="ml-2 divslot"><slot></slot></div>
        <v-spacer v-if="$slots.default" />
        <svg-icon class="btnPlain--text ml-3" icon="lock" v-if="!market || market.status == 2 || selection.status != 0 || !selection.price.back"></svg-icon>
        <div v-else ref="divPrice" class="ml-3 font-weight-bold" :class="$vuetify.breakpoint.mobile ? 'text-12' : 'text-14'">
            {{TransMarketPrice(getPrice())}}
        </div>
    </div>
    <div ref="imgOdds" class="text-8 mx-1 opacity-0" v-if="!market || market.status == 2 || selection.status == 0">
        <svg-icon :icon="iconOdds"></svg-icon>
    </div>
</v-sheet>
