::v-deep .v-skeleton-loader .v-skeleton-loader__card-heading {
    background-color: transparent;
}
::v-deep .v-skeleton-loader__card-heading .v-skeleton-loader__heading {
    margin: 0;
    width: 100%;
}
