.item-title {
    min-width: 102px;
}
.ml10 {
    margin-left: 10px;
}
.arrow {
    transform: rotate(0deg);
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.arrow-show {
    transform: rotate(180deg);
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-option {
    max-height: 360px;
    overflow-y: scroll;
    width: 250px;
    max-width: 250px;
}
.menu-option-pc {
    max-height: 360px;
    overflow-y: scroll;
    width: 300px;
    max-width: 300px;
}

.py {
    padding-top: 14px;
    padding-bottom: 14px;
    @media screen and (max-width: 960px) {
        padding-top: 13px;
        padding-bottom: 13px;
    }
}
.mt {
    margin-top: 14px;
    @media screen and (max-width: 960px) {
        margin-top: 13px;
    }
}
.oddmenu {
    border-radius: 10px;
    width: 100%;
}
.seletbtn {
    border-radius: 10px;
    height: 30px;
    width: 100%;
    position: relative;
    .svg-icon {
        position: absolute;
        right: 0px;
        top: 7px;
    }
}

.theme--light {
    .v-menu__content {
        background-color: #f2f2f2 !important;
    }
    .seletbtn {
        span {
            color: #837e69;
        }
        background-color: #f2f2f2;
    }
    .actItem {
        border: solid 1px #f8de99;
    }
    .disactItem {
        border: solid 1px #e8ebef;
    }
}
.v-menu__content {
    margin-left: 4px;
}

.theme--dark {
    .seletbtn {
        span {
            color: #606363;
        }
        background-color: #272828;
        border: solid 1px #2d3132;
    }
    .actItem {
        border: solid 1px #af8718;
    }
    .disactItem {
        border: solid 1px #393a3c;
    }
}
