<!-- <v-dialog
    class="ma-0"
    color="bgBanner"
    v-model="pageData.bShow"
    :retain-focus="false"
    persistent
    scrollable
    :fullscreen="$vuetify.breakpoint.height <= 667"
>
    <v-card class="pb-2 rounded-lg" color="bgBanner">
        <v-card-title class="py-2">
            <div class="text-18">{{LangUtil("设置")}}</div>
            <v-spacer />
            <v-btn class="mr-n3" icon @click="onClose">
                <svg-icon icon="close"></svg-icon>
            </v-btn>
        </v-card-title>
        <v-divider />
        <v-card-text class="pa-0">
            <Setting />
        </v-card-text>
        <v-card-actions>
            <v-row dense>
                <v-col>
                    <btn-yellow class="text-14" width="100%" height="36" @click.native="onReSetting">{{LangUtil("还原设置")}}</btn-yellow>
                </v-col>
                <v-col>
                    <btn-yellow class="text-14" width="100%" height="36" @click.native="openCompetionResult"
                        >{{LangUtil("比赛结果")}}</btn-yellow
                    >
                </v-col>
            </v-row>
        </v-card-actions>
    </v-card>
</v-dialog> -->

<v-navigation-drawer
    v-model="pageData.bShow"
    color="bgPage"
    :width="$vuetify.breakpoint.mobile?275:329"
    app
    absolute
    temporary
    right
    floating
    style="z-index: 101"
>
    <v-sheet color="bgBanner" class="d-flex align-center textGray--text py-2 my-2">
        <btn-yellow class="text-14 ml-3" minWidth="111" height="36" @click.native="onReSetting"> {{LangUtil("还原设置")}} </btn-yellow>
    </v-sheet>

    <v-sheet
        color="bgBanner"
        class="d-flex align-center textGray--text py-2 mt-2"
        v-if="$vuetify.breakpoint.mobile && homeProxy.listQueryComp.tag == 'today'"
    >
        <v-sheet class="rounded mx-2" color="yellow" width="3" height="22"></v-sheet>
        <div class="text-14">{{LangUtil("今日未开赛")}}</div>
        <div class="ml-3" @click="pageData.form.todayEarly = pageData.form.todayEarly == '1' ? '0' : '1' ">
            <svg-icon class="text-22" :icon=" pageData.form.todayEarly == '1' ? 'checkbox_selected' : 'checkbox' "></svg-icon>
        </div>
    </v-sheet>

    <v-sheet color="bgBanner" class="mt-2 py text-14 textGray--text">
        <div class="d-flex align-center">
            <v-sheet class="mx-2" rounded color="yellow" width="3" height="22"></v-sheet>
            <div>{{LangUtil("排序规则")}}</div>
        </div>
        <div class="d-flex align-center ml-3 mt btnPlain--text">
            <div class="d-flex align-center hand" @click="pageData.form.sort = 'time'">
                <svg-icon class="text-22" :icon=" pageData.form.sort == 'time' ? 'checkbox_selected' : 'checkbox' "></svg-icon>
                <div class="ml10">{{LangUtil("时间排序")}}</div>
            </div>
            <div class="d-flex align-center hand ml-5" @click="pageData.form.sort = 'comp'">
                <svg-icon class="text-22" :icon=" pageData.form.sort == 'comp' ? 'checkbox_selected' : 'checkbox' "></svg-icon>
                <div class="ml10">{{LangUtil("赛事排序")}}</div>
            </div>
        </div>
    </v-sheet>
    <v-sheet v-if="!isVisitor" color="bgBanner" class="d-flex align-center textGray--text py-2 mt-2">
        <v-sheet class="rounded mx-2" color="yellow" width="3" height="22"></v-sheet>
        <div class="text-14">{{LangUtil("币种")}}</div>
        <div class="ml-1">{{GlobalVar.currency}}</div>
    </v-sheet>
    <v-sheet color="bgBanner" class="mt-2 py textGray--text text-14">
        <div class="d-flex align-center">
            <v-sheet class="mx-2" rounded color="yellow" width="3" height="22"></v-sheet>
            <div>{{LangUtil("快选金额设置")}}</div>
        </div>
        <v-row dense class="mt mx-2">
            <v-col cols="6" class="d-flex align-center" v-for="n in 6 " :key="n">
                <CustomInput
                    v-model="pageData.form.fast_choose[n-1]"
                    :isOnlyNumber="true"
                    :showClear="false"
                    :height="$vuetify.breakpoint.mobile?32:44"
                    :radius="8"
                    maxlength="8"
                    type="tel"
                    textDirection="center"
                    :formatNumber="true"
                ></CustomInput>
            </v-col>
        </v-row>
    </v-sheet>

    <v-sheet v-if="GlobalVar.timezone_change=='1'" color="bgBanner" class="mt-2 py textGray--text text-14">
        <div class="d-flex align-center">
            <v-sheet class="mx-2" rounded color="yellow" width="3" height="22"></v-sheet>
            <div>{{LangUtil("时区设置")}}</div>
        </div>
        <v-menu offset-y nudge-bottom="4">
            <template v-slot:activator="{ on, attrs }">
                <v-sheet
                    class="d-flex align-center mx-3 px-3 pr-4 colorText2--text mt box rounded-lg"
                    :min-height="$vuetify.breakpoint.mobile ? 32 : 44"
                    :height="$vuetify.breakpoint.mobile ? 32 : 44"
                    min-width="100"
                    outlined
                    v-bind="attrs"
                    v-on="on"
                >
                    <div class="text-truncate text-gray" style="width: 100%" :class="'text-14'">{{ getSelectName }}</div>
                    <v-spacer />
                    <div
                        v-if="Object.keys(pageData.items).length > 1"
                        class="icon-box iconfont ml-4 mr-n1 text-14"
                        :class="attrs['aria-expanded'] == 'true' ? 'arrow-show' : 'arrow'"
                    >
                        <svg-icon icon="zoom_out"></svg-icon>
                    </div>
                </v-sheet>
            </template>
            <div :class="$vuetify.breakpoint.mobile ? 'menu-option' : 'menu-option-pc'">
                <v-list>
                    <v-list-item v-for="(item, index) in pageData.items" :key="index" @click="onTimeZoneItemClick(item.key)">
                        <div>
                            <div>{{ item.value }}</div>
                            <v-sheet color="transparent" max-width="280px" class="text-truncate">{{ LangUtil(item.name) }}</v-sheet>
                        </div>
                    </v-list-item>
                </v-list>
            </div>
        </v-menu>
    </v-sheet>

    <v-sheet color="bgBanner" class="mt-2 py textGray--text text-14">
        <div class="d-flex align-center">
            <v-sheet class="mx-2" rounded color="yellow" width="3" height="22"></v-sheet>
            <div>{{LangUtil("盘口设置")}}</div>
        </div>
        <div class="d-flex ml-3 mt btnPlain--text">
            <div class="d-flex align-center hand" @click="onMarketTypeArea(0)">
                <svg-icon class="text-22" :icon=" pageData.form.MarketType_area == 0 ? 'checkbox_selected' : 'checkbox' "></svg-icon>
                <div class="ml10">{{LangUtil("欧洲盘")}}</div>
            </div>
            <div class="d-flex align-center hand ml-5" @click="onMarketTypeArea(1)">
                <svg-icon class="text-22" :icon=" pageData.form.MarketType_area == 1 ? 'checkbox_selected' : 'checkbox' "></svg-icon>
                <div class="ml10">{{LangUtil("亚洲盘")}}</div>
            </div>
        </div>
    </v-sheet>

    <v-sheet
        color="bgBanner"
        v-ripple
        class="mt-2 py pr-3 textGray--text d-flex align-center hand"
        @click="openCompetionResult"
        v-if="$vuetify.breakpoint.mobile"
    >
        <v-sheet class="mx-2" rounded color="yellow" width="3" height="22"></v-sheet>
        <div class="text-14">{{LangUtil("比赛结果")}}</div>
        <v-spacer />
        <svg-icon icon="page_right"></svg-icon>
    </v-sheet>

    <v-sheet color="bgBanner" class="mt-2 py textGray--text text-14" v-if="able_to_choose_betterodds">
        <div class="d-flex align-center">
            <v-sheet class="mx-2" rounded color="yellow" width="3" height="22"></v-sheet>
            <div>{{LangUtil("投注规则")}}</div>
        </div>

        <div class="d-flex justify-start align-center mt-3 px-2 btnPlain--text">
            <div @click="expanded = !expanded" :class="{ 'one-line-ellipsis': !expanded }" class="text-content">
                {{LangUtil('是否自动接受更好赔率')}}
            </div>

            <LeeSwitch
                class="ml-2"
                @change="clickOdditem()"
                color="#3caa1f"
                v-model="bBetter"
                :startText="LangUtil('开')"
                :endText="LangUtil('关')"
            >
            </LeeSwitch>
        </div>
    </v-sheet>

    <!-- <v-sheet color="bgBanner" class="mt-2 py textGray--text text-14">
        <div class="d-flex align-center">
            <v-sheet class="mx-2" rounded color="yellow" width="3" height="22"></v-sheet>
            <div>{{LangUtil("提前结算")}}</div>
        </div>
        <div class="d-flex ml-3 mt btnPlain--text flex-column">
            <div class="d-flex align-center hand" @click="onAcceptChange(0)">
                <svg-icon class="text-22" :icon=" pageData.form.accept_change == 0 ? 'checkbox_selected' : 'checkbox' "></svg-icon>
                <div class="ml10">{{LangUtil("不接受估值变化")}}</div>
            </div>
            <div class="d-flex align-center hand mt-2" @click="onAcceptChange(1)">
                <svg-icon class="text-22" :icon=" pageData.form.accept_change == 1 ? 'checkbox_selected' : 'checkbox' "></svg-icon>
                <div class="ml10">{{LangUtil("接受提前结算估值变化")}}</div>
            </div>
        </div>
    </v-sheet> -->

    <div class="mt-2 text-right textGray--text text-14 mr-3 mt-6">{{LangUtil("版本号")}} {{GlobalVar.version}}</div>
</v-navigation-drawer>
