<v-sheet color="transparent" width="100%">
    <v-list-item class="mb-1" link @click="onSportTagClick">
        <v-sheet
            class="d-flex align-center text-14 rounded-lg textGray--text listitem"
            :class="{'active': homeProxy.listQueryComp.sport_id == sportId}"
            color="bgBanner"
            height="38"
            width="100%"
        >
            <div v-if="sportIcon[sportId]" class="text-20 ml15 mr15"><svg-icon :icon="sportIcon[sportId]"></svg-icon></div>
            <div class="text-truncate">{{LangUtil(item.sport)}}</div>
            <v-spacer />
            <div class="mr15">{{item.all_competition_amount}}</div>
        </v-sheet>
    </v-list-item>
    <v-expand-transition>
        <div v-if="item && homeProxy.listQueryComp.sport_id == sportId">
            <v-list-item @click="onTypeClick(key)" link class="mb-1" v-for="({icon,vClass}, key) of childTagOption" :key="key">
                <v-sheet
                    class="d-flex align-center text-14 rounded-lg listitem border"
                    :class="[{'child-active': childTag == key},vClass]"
                    color="bgBanner"
                    height="38"
                    width="100%"
                >
                    <div class="text-20 ml15 mr15"><svg-icon :icon="icon"></svg-icon></div>
                    <div class="text-truncate">{{LangUtil(item[key].name)}}</div>
                    <v-spacer />
                    <div class="mr15">{{item[key].num}}</div>
                </v-sheet>
            </v-list-item>
        </div>
    </v-expand-transition>
</v-sheet>
