.rounded-lg-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.theme--light {
    .listitem {
        color: #5d5d5d;
        background-color: #ffffff;
        &:hover {
            color: #0f1213;
        }
        &.active {
            background-image: linear-gradient(90deg, #fcb131 0%, #ffe64d);
            color: #0f1213;
        }
    }
    .listitem2 {
        color: #a4a4a4;
        background-color: #f4f4f4;
        &:hover {
            color: #0f1213;
        }
        &.active2 {
            background-color: #e6eaee;
            color: #0f1213;
        }
    }
    .more {
        color: #a4a4a4;
        transition: all 0.2s;
        &:hover {
            color: #0f1213;
        }
    }
    .country-group {
        background-color: #f4f4f4;
        .country-arrow {
            transform: rotate(0deg);
            transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    ::v-deep .country-group-active {
        margin-bottom: 0 !important;
        .listitem2 {
            background-color: #e6eaee;
            color: #0f1213;
            border-bottom-left-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
        }
        .country-arrow {
            transform: rotate(180deg);
            transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    .comp-item {
        color: #a4a4a4;
        &:hover {
            color: #0f1213;
            i {
                color: #0f1213;
            }
        }
        &.comp-item-active {
            color: #feba00;
            i {
                color: #feba00;
            }
        }
    }
    ::v-deep .v-list-item--disabled {
        .listitem {
            color: #00000042;
        }
    }
}
.theme--dark {
    .listitem {
        color: #8e8f91;
        background-color: #272828;
        &:hover {
            color: #ffffff;
        }
        &.active {
            background-image: linear-gradient(90deg, #fcb131 0%, #ffe64d);
            color: #0f1213;
        }
    }
    .listitem2 {
        color: #5a5a5a;
        background-color: #1b1c1c;
        &:hover {
            color: #ffffff;
        }
        &.active2 {
            background-color: #3e3f41;
            color: #ffffff;
        }
    }
    .more {
        color: #8e8f91;
        transition: all 0.2s;
        &:hover {
            color: #ffffff;
        }
    }
    .country-group {
        background-color: #1b1c1c;
        .country-arrow {
            transform: rotate(0deg);
            transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    ::v-deep .country-group-active {
        margin-bottom: 0 !important;
        .listitem2 {
            background-color: #3e3f41;
            color: #ffffff;
            border-bottom-left-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
        }
        .country-arrow {
            transform: rotate(180deg);
            transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    .comp-item {
        color: #5a5a5a;
        i {
            color: #5a5a5a;
        }
        &:hover {
            color: #ffffff;
            i {
                color: #ffffff;
            }
        }
        &.comp-item-active {
            color: #feba00;
            i {
                color: #feba00;
            }
        }
    }
    ::v-deep .v-list-item--disabled {
        .listitem {
            color: #ffffff4d;
        }
    }
}

.arrow {
    transform: rotate(0deg);
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.arrow-show {
    transform: rotate(180deg);
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
