<v-sheet color="bgBanner" class="rounded-lg" width="100%" v-if="item">
    <v-list-item :disabled="!item.num" class="mb-1 rounded-lg" link @click="onSportClick">
        <v-sheet
            class="d-flex align-center text-14 listitem"
            :class="[{'active': homeProxy.listQueryComp.sport_id == sportId}, isExpend && !isRaceEvent(sportId)? 'rounded-lg-top': 'rounded-lg']"
            height="38"
            width="100%"
        >
            <div v-if="sportIcon[sportId]" class="text-20 ml15 mr15"><svg-icon :icon="sportIcon[sportId]"></svg-icon></div>
            <div class="text-truncate">{{LangUtil(item.sport)}}</div>
            <v-spacer />
            <!-- <div class="mr15">{{item.num}}</div> -->
            <div v-if="item.num && !isRaceEvent(sportId)" class="icon-box ml-4 text-12 mr15" :class="!isExpend? 'arrow-show' : 'arrow'">
                <svg-icon icon="zoom_out1"></svg-icon>
            </div>
        </v-sheet>
    </v-list-item>
    <template v-if="!isRaceEvent(sportId)">
        <v-expand-transition>
            <div v-if="isExpend && curSportNav" class="px-1 pb-1">
                <!-- 自订义标签 -->
                <v-list-item class="mb-1" link v-for="(item, index) in curSportNav.tags" :key="item.tag" @click="onTagClick(item.tag)">
                    <v-sheet
                        class="d-flex align-center text-14 rounded-lg listitem2"
                        :class="{'active2': homeProxy.listQueryComp.tag == item.tag}"
                        height="38"
                        width="100%"
                    >
                        <div class="text-20 ml15 mr15">
                            <svg-icon v-if="tagIcon[item.tag]" :icon="tagIcon[item.tag]"></svg-icon>
                            <img v-else :src="item.icon" width="20" height="20" />
                        </div>
                        <div class="text-truncate">{{LangUtil(item.name)}}</div>
                        <v-spacer />
                        <div class="mr15">{{item.num}}</div>
                    </v-sheet>
                </v-list-item>

                <!-- 关注 -->
                <v-list-item v-if="item.favorite" class="mb-1" link @click="onTagClick('love')" :disabled="!item.favorite.num">
                    <v-sheet
                        class="d-flex align-center text-14 rounded-lg textGray--text listitem2"
                        :class="{'active2': homeProxy.listQueryComp.tag == 'love'}"
                        height="38"
                        width="100%"
                    >
                        <div class="text-20 ml15 mr15"><svg-icon icon="love"></svg-icon></div>
                        <div class="text-truncate">{{LangUtil('关注赛事')}}</div>
                        <v-spacer />
                        <div class="mr15">{{item.favorite.num}}</div>
                    </v-sheet>
                </v-list-item>

                <!-- 滚球、今日、早盘 -->
                <template v-for="(_, key) of tagIcon">
                    <v-list-item v-if="item[key]" :disabled="!item[key].num" @click="onTagClick(key)" link class="mb-1" :key="key">
                        <v-sheet
                            class="d-flex align-center text-14 rounded-lg listitem2"
                            :class="{'active2': key == curTag}"
                            height="38"
                            width="100%"
                        >
                            <div class="text-20 ml15 mr15"><svg-icon :icon="tagIcon[key]"></svg-icon></div>
                            <div class="text-truncate">{{LangUtil(item[key].name)}}</div>
                            <v-spacer />
                            <div class="mr15">{{item[key].num}}</div>
                        </v-sheet>
                    </v-list-item>
                </template>

                <!-- 全部赛事 -->
                <v-sheet
                    v-if="!isShowAllComp"
                    class="text-14 d-flex align-center justify-center hand more"
                    height="35"
                    width="100%"
                    color="transparent"
                    @click="showAllComp"
                >
                    <div class="d-flex">
                        <div class="text-truncate">{{LangUtil('更多国家赛事')}}</div>
                        <!-- <div class="ml15">{{curSportNav.all_competition_amount}}</div> -->
                    </div>
                </v-sheet>
                <v-expand-transition>
                    <div v-show="isShowAllComp">
                        <v-list-group
                            class="mb-1 country-group rounded-lg"
                            active-class="country-group-active"
                            v-for="(item, index) in curSportNav.all_competition"
                            :key="item.country_code"
                        >
                            <template v-slot:activator>
                                <v-sheet class="d-flex align-center text-14 rounded-lg listitem2" height="38" width="100%">
                                    <v-img
                                        :src="item.icon"
                                        width="20px"
                                        height="20px"
                                        max-height="20px"
                                        max-width="20px"
                                        contain
                                        class="ml15 mr15"
                                    ></v-img>
                                    <div class="text-truncate mr-3">{{LangUtil(item.country_name)}}</div>
                                    <v-spacer />
                                    <template v-if="item.num">
                                        <div style="white-space: nowrap">{{item.num}}</div>
                                        <div class="icon-box ml-2 text-12 mr15 country-arrow">
                                            <svg-icon icon="zoom_out1"></svg-icon>
                                        </div>
                                    </template>
                                </v-sheet>
                            </template>
                            <div>
                                <v-list-item
                                    link
                                    v-for="(item1, index1) in item.competitions"
                                    :key="item1.id"
                                    @click="onShowCompetition(item1.id)"
                                >
                                    <v-sheet
                                        color="transparent"
                                        class="d-flex align-center text-14 comp-item"
                                        :class="{'comp-item-active': homeProxy.listQueryComp.competition_id == item1.id && !homeProxy.listQueryComp.country}"
                                        height="38"
                                        width="100%"
                                    >
                                        <v-sheet color="transparent" class="d-flex align-center justify-center ml15 mr15" width="20">
                                            <v-icon class="pt-1" x-small style="transform: scale(0.6)">mdi-circle</v-icon>
                                        </v-sheet>
                                        <!-- <v-sheet class="ml-5 mr10 vline" width="2" height="16"></v-sheet> -->
                                        <div class="text-truncate mr-3">{{item1.name}}</div>
                                    </v-sheet>
                                </v-list-item>
                                <v-list-item link @click="onShowCountry(item)">
                                    <v-sheet
                                        color="transparent"
                                        class="d-flex align-center text-14 comp-item"
                                        :class="{'comp-item-active': homeProxy.listQueryComp.country == item.country_code}"
                                        height="38"
                                        width="100%"
                                    >
                                        <v-sheet color="transparent" class="d-flex align-center justify-center ml15 mr15" width="20">
                                            <v-icon class="pt-1" x-small style="transform: scale(0.6)">mdi-circle</v-icon>
                                        </v-sheet>
                                        <div class="text-truncate mr-3">{{LangUtil("更多赛事")}}</div>
                                    </v-sheet>
                                </v-list-item>
                            </div>
                        </v-list-group>
                    </div>
                </v-expand-transition>
            </div>
        </v-expand-transition>
    </template>
</v-sheet>
