.rounded-lg-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.theme--light {
    .listitem {
        color: #5d5d5d;
        background-color: #ffffff;
        &.active {
            background-image: linear-gradient(90deg, #fcb131 0%, #ffe64d);
            color: #0f1213;
        }
        &:hover {
            color: #0f1213;
        }
    }
    .listitem2 {
        color: #a4a4a4;
        background-color: #f4f4f4;
        &:hover {
            color: #0f1213;
        }
        &.active {
            background-color: #e6eaee;
            color: #0f1213;
        }
    }
    .country--group {
        background-color: #f4f4f4;
    }
    .more {
        color: #a4a4a4;
        transition: all 0.2s;
        &:hover {
            color: #0f1213;
        }
    }
}
.theme--dark {
    .comp-item {
        border: solid 2px #333435;
        background-color: #202121;
        &.active {
            color: #eaeaea;
            border: solid 1px #fcb131;
        }
        &.country {
            background-color: transparent;
        }
    }
    .listitem {
        color: #8e8f91;
        background-color: #272828;
        &.active {
            background-image: linear-gradient(90deg, #fcb131 0%, #ffe64d);
            color: #0f1213;
        }
        &.child-active {
            border: solid 1px #fcb131;
        }
    }
}
.comp-item {
    box-sizing: border-box;
    .vline {
        background-color: #ffcd43;
    }
}

.arrow {
    transform: rotate(0deg);
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.arrow-show {
    transform: rotate(180deg);
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
