<v-navigation-drawer
    class="divbox"
    color="bgMybet"
    v-model="pageData.bShow"
    height="455"
    v-if="$vuetify.breakpoint.mobile"
    overlay-opacity="0.7"
    fixed
    floating
    bottom
    app
    temporary
>
    <v-sheet
        class="d-flex align-center head header_mbg elevation-0 rounded-0"
        height="54"
        min-height="54"
        width="100%"
        color="bgMybet"
        @click="pageData.bShow=!pageData.bShow"
        v-if="betProxy.pageData.list.length > 0"
    >
        <div class="ml-5 text-18 white--text font-weight-bold">{{LangUtil("注单")}}</div>
        <v-spacer />

        <div class="d-flex align-center mr-3 text-14">
            <v-sheet
                class="money rounded-l-5 px10 d-flex align-center font-weight-bold"
                :class="PlatConfig.config.client.isRecharge == '1' ? 'rounded-l-5' : 'rounded-5'"
                height="36"
                min-width="106"
            >
                <div class="d-flex align-end">
                    <span class="text-14">{{GlobalVar.currency}} {{ amountFormat(selfProxy.userInfo.gold.split('.')[0])}}</span>
                    <span class="text-12" v-if="selfProxy.userInfo.gold.split('.')[1]">.{{ truncateToFirstTwo(selfProxy.userInfo.gold.split('.')[1])}}</span>
                </div>
            </v-sheet>
            <btn-yellow
                height="36"
                minWidth="49"
                :rounded5="true"
                :rounded_tl="false"
                :rounded_bl="false"
                v-if="PlatConfig.config.client.isRecharge == '1'"
                @click.native="onTopup"
            >
                <span class="text-14 mx-1">{{LangUtil("充值")}}</span>
            </btn-yellow>
        </div>
    </v-sheet>
    <v-divider v-if="$vuetify.theme.dark" />
    <v-sheet class="pa10 divbox overflow-y-auto" color="bgMybet">
        <MyBet class="rounded-lg mt-n2" />
    </v-sheet>
</v-navigation-drawer>
