.head {
    position: absolute;
    top: -54px;
}
::v-deep .v-navigation-drawer__content {
    border-radius: 10px;
    overflow: visible !important;
}
.v-navigation-drawer--bottom.v-navigation-drawer--is-mobile {
    // max-height: calc(100% - 54px) !important;
    // max-height: 100% !important;
    // position: relative;
}
.v-navigation-drawer--close {
    visibility: visible !important;
}
.v-navigation-drawer--bottom {
    overflow: visible !important;
}

.theme--light {
    .money {
        // background-color: #ffffff;
        // border: solid 1px #e8e8e2;
    }
}
.theme--dark {
    .money {
        background-color: #272828;
        // border: solid 1px #3e3f41;
    }
}
.divbox {
    max-height: calc(100% - 0px) !important;
}

.bet-count {
    background-color: rgb(254, 186, 0);
    color: #0f1213;
    border-radius: 99999px;
    padding: 0 5px;
    min-height: 20px;
    min-width: 20px;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}
