.theme--light {
    .downcount {
        border: solid 2px #e8e8e2;
    }
}
.theme--dark {
    .downcount {
        border: solid 2px #333435;
    }
}
.dateitem {
    min-width: 40px;
    text-align: center;
}
.cards {
    color: #0f1213;
    font-weight: bold;
    font-family: GOTHAM_BOLD;
}
::v-deep .v-skeleton-loader__image {
    height: 208px !important;
}

.corners_goals{
    position: absolute;
    bottom: 50px;
}