.theme--light {
    .downcount {
        border: solid 2px #e8e8e2;
    }
}
.theme--dark {
    .downcount {
        border: solid 2px #333435;
    }
}
.dateitem {
    min-width: 40px;
    text-align: center;
}
.cards {
    color: #0f1213;
}
