.theme--light {
    .downcount {
        border: solid 2px #e8e8e2;
    }
    .btns{
        border: solid 1px #E8E8E3 !important;
        background-color: transparent;
    }
}
.theme--dark {
    .downcount {
        border: solid 2px #333435;
    }
    .btns{
        background-color: #323435 ;
    }
}
.dateitem {
    min-width: 40px;
    text-align: center;
}
.cards {
    color: #0f1213;
    font-weight: bold;
    font-family: GOTHAM_BOLD;
}
::v-deep .v-skeleton-loader__image {
    height: 208px !important;
}

.live_tex {
    position: relative;
    background: url("~@/_skin001/assets/live_texture.png") no-repeat right 0px bottom 0px;
}

.btn_close{
    position:absolute;
    top: 5px;
    right: 5px;
    z-index: 5;
}


.competing-time {
    position: fixed;
    top: 60px;
    z-index: 2;
    pointer-events: none;
    > div {
        background: linear-gradient(to right, #F5B600, #F19900) !important;
    }
}