<div>
    <v-sheet class="tabs_box">
        <v-tabs color="btnPlain" fixed-tabs background-color="transparent" slider-color="#FCB131">
            <v-tab>{{LangUtil("单关")}}</v-tab>
            <v-tab>{{LangUtil("串关")}}</v-tab>
          </v-tabs>
    </v-sheet>
    
    <v-sheet color="bgBanner" class="rounded10 py10 mt-2 textGray--text">
        <div class="d-flex align-center ml10 mr10 mb10">
            <v-sheet class="mr10" color="#FFCD43" width="2" height="16" rounded></v-sheet>
            <div class="btnPlain--text">英超联赛杯(U21)</div>
            <v-spacer/>
            <svg-icon icon="delete"></svg-icon>
        </div>
        <v-divider/>
    </v-sheet>
</div>