<div>
    <v-sheet color="bgBanner" height="54" class="d-flex align-center header_m header_mbg">
        <v-btn icon @click="onBack">
            <svg-icon class="white--text" icon="back2"></svg-icon>
        </v-btn>

        <v-menu offset-y nudge-top="-10" v-model="pageData.isShowList">
            <template v-slot:activator="{ on, attrs }">
                <v-sheet class="d-flex align-center white--text hand" width="60%" color="transparent" v-bind="attrs" v-on="on">
                    <div class="text-16 mr10 text-truncate font-weight-bold">{{getCompetitionName()}}</div>
                    <div class="text-12 white--text" :class="attrs['aria-expanded'] == 'true' ? 'arrow-up' : 'arrow-down'">
                        <svg-icon icon="zoom_out"></svg-icon>
                    </div>
                </v-sheet>
            </template>
            <v-card color="bgTips" width="100vw" min-height="60vh" elevation="0" class="matche_list">
                <v-list>
                    <v-list-item-group :value="currIndex">
                        <template v-for="(matche, index) in matches">
                            <v-list-item @click="clickitem(matche)" link :key="index">
                                <v-sheet height="102" width="100%" class="d-flex">
                                    <v-row class="text-12">
                                        <v-col>
                                            <div class="temadiv my-2">
                                                <v-img width="50px" height="50px" :src="getResponseIcon(matche.home_team_icon)"></v-img>
                                                <div class="text-162 d-flex justify-center text-center">{{matche.home_team}}</div>
                                            </div>
                                        </v-col>
                                        <v-col class="d-flex align-center text-16">
                                            <v-sheet width="100%">
                                                <div class="d-flex justify-center">{{start_time(matche).day}}</div>
                                                <div class="d-flex justify-center">{{start_time(matche).min}}</div>
                                            </v-sheet>
                                        </v-col>
                                        <v-col>
                                            <div class="temadiv my-2">
                                                <v-img width="50px" height="50px" :src="getResponseIcon(matche.away_team_icon)"></v-img>
                                                <div class="text-12 d-flex justify-center text-center">{{matche.away_team}}</div>
                                            </div>
                                        </v-col>
                                    </v-row>
                                </v-sheet>
                            </v-list-item>
                            <v-divider></v-divider>
                        </template>
                    </v-list-item-group>
                </v-list>
            </v-card>
        </v-menu>

        <v-spacer />
        <v-btn icon @click="openHelp">
            <svg-icon class="text-20 iconHeaderColor--text" icon="help"></svg-icon>
        </v-btn>
        <v-btn icon class="ml-1 mr-3" @click="onOrder">
            <svg-icon class="text-20 iconHeaderColor--text" icon="history"></svg-icon>
        </v-btn>
    </v-sheet>

    <div id="div_content">
        <Live v-model="pageData.liveIndex" class="mx10 mt10"/>
        <Matche class="mx10 mt-1" />
    </div>
</div>
