.tabs_box {
    background-color: transparent;
}
.theme--light {
    .tabs_box {
        border-bottom: solid 2px #e8e8e2;
    }
}
.theme--dark {
    .tabs_box {
        border-bottom: solid 2px #272828;
    }
}
::v-deep .v-tabs-slider {
    background-image: linear-gradient(90deg, #fcb131 0%, #ffe64d);
}

::v-deep .v-menu__content {
    max-width: 100% !important;
    box-shadow: 0 3px 3px -2px rgba(255, 0, 0, 1), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12) !important;
}
.temadiv {
    display: grid;
    justify-items: center;
}
.line {
    position: absolute;
    bottom: 0;
    width: 100%;
}
