::v-deep .v-btn:not(.v-btn--round).v-size--default {
    padding: 0 10px;
    min-width: 32px;
}
.v-expansion-panels .v-expansion-panel {
    background-color: transparent;
}
::v-deep .v-expansion-panel-header {
    padding: 0;
    background-color: white;
    border-radius: 8px;
}
::v-deep .v-expansion-panel-header--active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
::v-deep .v-expansion-panel-content__wrap {
    padding: 0px !important;
}
::v-deep .v-expansion-panel {
    border-radius: 8px;
}
::v-deep .v-expansion-panel::before {
    box-shadow: none;
}
.titleline {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
::v-deep.v-btn:before {
    background-color: transparent;
}
.btnGroup {
    overflow-x: auto;
    /* 隐藏滚动条 */
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
}
.btnGroup::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}
.btnTag {
    min-height: 36px;
    display: inline-block;
    &.active {
        border: solid 1px #ffcd43 !important;
    }
}
.theme--light {
    .btnTag {
        border: solid 1px #c8cad0;
    }
}
.theme--dark {
    .btnTag {
        border: solid 1px #5a5a5a;
    }
}
input {
    width: 100%;
    outline: none;
}
.header_m {
    position: sticky;
    top: 0;
    z-index: 5;
}
