<div class="mr-2">
    <div class="d-flex align-center textGray--text">
        <div class="font-weight-bold text-18">今日</div>
        <v-spacer />
        <v-sheet class="d-flex align-center rounded10 textGray--text" color="bgBanner" height="40">
            <v-btn :class=" settingProxy.pageData.form.sort == 'time' ? 'yellow--text' : 'textGray--text'" plain :ripple="false"
                >{{LangUtil("时间")}}</v-btn
            >
            <svg-icon icon="change"></svg-icon>
            <v-btn :class=" settingProxy.pageData.form.sort == 'comp' ? 'yellow--text' : 'textGray--text'" plain :ripple="false"
                >{{LangUtil("联赛")}}</v-btn
            >
        </v-sheet>
        <v-sheet class="d-flex align-center justify-center ml-2 rounded10 hand textGray--text" color="bgBanner" width="40" height="40">
            <v-btn class="textGray--text" plain :ripple="false"><svg-icon class="text-22" icon="refrush"></svg-icon></v-btn>
        </v-sheet>
        <v-sheet class="d-flex align-center justify-center mx-2 rounded10 hand textGray--text" color="bgBanner" width="40" height="40">
            <v-btn class="textGray--text" plain :ripple="false"><svg-icon class="text-22" icon="zoom_all"></svg-icon></v-btn>
        </v-sheet>
    </div>

    <Nodata v-if="pageData.competition_list.length == 0 && !GlobalVar.loading" height="80vh" />
    <v-expansion-panels class="mt-2" elevation="0" accordion multiple v-model="pageData.openIndexs" v-if="!$vuetify.breakpoint.mobile">
        <v-expansion-panel elevation="0" class="mb-2" v-for="(competition, key) of pageData.competition_list" :key="key">
            <v-expansion-panel-header elevation="0" rounded="lg" color="bgBanner">
                <template v-slot:default="{ open }">
                    <div class="d-flex align-center">
                        <v-btn
                            fab
                            elevation="0"
                            :ripple="false"
                            width="30"
                            height="30"
                            color="bgPage"
                            class="ml10 textGray--text"
                            @click.stop="setAllLove(competition)"
                        >
                            <svg-icon :icon="checkAllLove(competition) ? 'love1' : 'love'"></svg-icon>
                        </v-btn>

                        <v-img :src="competition.country_icon" contain max-width="30" width="30" height="30" class="ml10"></v-img>
                        <div class="ml10 font-weight-bold">{{competition.competition_name}}</div>
                        <v-spacer />
                        <svg-icon class="mr10 textGray--text text-12" icon="zoom_out" :class="open ? 'arrow-up' : 'arrow-down'"></svg-icon>
                    </div>
                    <v-divider v-if="open" class="titleline" />
                </template>
            </v-expansion-panel-header>

            <v-expansion-panel-content elevation="0" color="transparent" class="pt-2">
                <MatcheItem v-for="(matche, mkey) of competition.matches" :key="mkey" :matche="matche"></MatcheItem>
                <!-- <div v-for="(matche, mkey) of competition.matches" :key="mkey">
                    <ChampionItem v-if="matche.c_type == 2" :matche="matche"></ChampionItem>
                    <MatcheItem v-else :matche="matche"></MatcheItem>
                </div> -->
            </v-expansion-panel-content>
        </v-expansion-panel>
    </v-expansion-panels>
</div>
