.ml10{
    margin-left: 10px;
}
.mr10{
    margin-right: 10px;
}
.mb10{
    margin-bottom: 10px;
}
.roundedb10{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.arrow-down {
    transform: rotate(0deg);
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.arrow-up {
    transform: rotate(180deg);
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
::v-deep .v-btn:not(.v-btn--round).v-size--default{
    padding: 0 10px;
    min-width: 32px;
}
.v-expansion-panels .v-expansion-panel {
    background-color: transparent;
}
::v-deep .v-expansion-panel-header {
    // min-height: 50px;
    padding: 0;
    background-color: white;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
::v-deep .v-expansion-panel-content__wrap {
    padding: 0px !important;
}
::v-deep .v-expansion-panel {
    border-radius: 8px;
}
::v-deep .v-expansion-panel::before {
    box-shadow: none;
}
.titleline{
    position: absolute;
    bottom: 0px;
    width: 100%;
}