::v-deep .v-btn:not(.v-btn--round).v-size--default {
    padding: 0 10px;
    min-width: 32px;
}
.v-expansion-panels .v-expansion-panel {
    background-color: transparent;
}
::v-deep .v-expansion-panel-header {
    padding: 0;
    background-color: white;
    border-radius: 8px;
}
::v-deep .v-expansion-panel-header--active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
::v-deep .v-expansion-panel-content__wrap {
    padding: 0px !important;
}
::v-deep .v-expansion-panel {
    border-radius: 8px;
}
::v-deep .v-expansion-panel::before {
    box-shadow: none;
}
.titleline {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
::v-deep.v-btn:before {
    background-color: transparent;
}
input {
    width: 100%;
    outline: none;
}
.header_m {
    position: sticky;
    top: 0;
    z-index: 5;
}

::v-deep .v-expansion-panel-content {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.tag-btn1 {
    border-color: #d6dde3;
    background-color: #fff;
    opacity: 0.8;
    &::before {
        background-color: transparent !important;
    }
    &.active {
        color: #0f1213 !important;
        border-color: #febc08;
        opacity: 1;
    }
}
.theme--dark {
    .tag-btn1 {
        border-color: transparent;
        background-color: #272828;
        color: #fff;
        &.active {
            color: #fff !important;
            border-color: #febc08;
        }
    }
}
.theme--light {
    .money {
        background-color: #ffffff;
        // border: solid 1px #e8e8e2;
    }
    ::v-deep .v-btn.v-btn--disabled.v-btn--has-bg {
        background-color: #f1f1f1 !important;
    }
}
.theme--dark {
    .money {
        background-color: #272828;
        // border: solid 1px #3e3f41;
    }
    ::v-deep .v-btn.v-btn--disabled.v-btn--has-bg {
        background-color: #303030 !important;
    }
    .btnTag {
        background-color: #303030;
    }
}
input {
    width: 100%;
    outline: none;
}
