<div :class="{'mr-0': !$vuetify.breakpoint.mobile}">
    <HomeHeader v-if="!$vuetify.breakpoint.mobile" />

    <v-expansion-panels class="mt-2" elevation="0" accordion multiple v-model="pageData.openIndexs" v-if="!$vuetify.breakpoint.mobile">
        <v-expansion-panel elevation="0" class="mb-2" v-for="(competition, key) of pageData.competition_list" :key="key">
            <v-expansion-panel-header elevation="0" rounded="lg" color="bgBanner">
                <template v-slot:default="{ open }">
                    <div class="d-flex align-center">
                        <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                    v-bind="attrs"
                                    v-on="on"
                                    fab
                                    :ripple="false"
                                    width="20"
                                    height="20"
                                    color="bgPage"
                                    class="ml10 textGray--text elevation-0"
                                    @click.stop="setAllLove(competition)"
                                >
                                    <svg-icon :icon="checkAllLove(competition) ? 'love1' : 'love'"></svg-icon>
                                </v-btn>
                            </template>
                            <v-sheet class="rounded px-2 py-1" max-width="300" color="bgBanner">
                                <span>{{LangUtil("关注")}}</span>
                            </v-sheet>
                        </v-tooltip>

                        <v-img :src="competition.country_icon" contain max-width="20" width="20" height="20" class="ml10"></v-img>
                        <div class="ml10 text-14">{{competition.competition_name}}</div>
                        <v-spacer />
                        <svg-icon class="mr10 textGray--text text-12" icon="zoom_out" :class="open ? 'arrow-up' : 'arrow-down'"></svg-icon>
                    </div>
                    <!-- <v-divider v-if="open" class="titleline line" /> -->
                    <div v-if="open" class="titleline line"></div>
                </template>
            </v-expansion-panel-header>

            <v-expansion-panel-content elevation="0" color="transparent">
                <!-- <MatcheItem v-for="(matche, mkey) of competition.matches" :key="mkey" :matche="matche"></MatcheItem> -->
                <div v-for="(matche, mkey) of competition.matches" :key="mkey">
                    <v-lazy>
                        <ChampionItem v-if="matche.c_type == 2" :matche="matche"></ChampionItem>
                        <MatcheItem
                            v-else
                            :matche="matche"
                            :isLast="competition.matches.length == mkey+1"
                            :isFirst="mkey == 0"
                        ></MatcheItem>
                    </v-lazy>
                </div>
            </v-expansion-panel-content>
        </v-expansion-panel>
    </v-expansion-panels>

    <!-- 手机header -->
    <HomeMobileHeader v-if="$vuetify.breakpoint.mobile" />

    <v-expansion-panels class="mt15 px10" elevation="0" accordion multiple v-model="pageData.openIndexs" v-if="$vuetify.breakpoint.mobile">
        <v-expansion-panel elevation="0" class="mb-2" v-for="(competition, key) of pageData.competition_list" :key="key">
            <v-expansion-panel-header elevation="0" rounded="lg" height="54" color="bgBanner">
                <template v-slot:default="{ open }">
                    <div class="d-flex align-center">
                        <v-btn
                            fab
                            elevation="0"
                            :ripple="false"
                            width="24"
                            height="24"
                            color="bgPage"
                            class="ml10 textGray--text"
                            @click.stop="setAllLove(competition)"
                        >
                            <svg-icon :icon="checkAllLove(competition) ? 'love1' : 'love'"></svg-icon>
                        </v-btn>
                        <v-img :src="competition.country_icon" contain max-width="24" width="24" height="24" class="mx10"></v-img>
                        <div class="font-weight-bold text-14">{{competition.competition_name}}</div>
                    </div>
                </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content celevation="0" color="bgBanner">
                <div v-for="(matche, mkey) of competition.matches" :key="mkey">
                    <ChampionItem v-if="matche.c_type == 2" :matche="matche"></ChampionItem>
                    <MatcheItemMobile v-else :matche="matche"></MatcheItemMobile>
                </div>
            </v-expansion-panel-content>
        </v-expansion-panel>
    </v-expansion-panels>

    <Nodata v-if="pageData.competition_list.length == 0 && !GlobalVar.loading" height="60vh" />
</div>
