<DialogMessageBox>
    <v-sheet color="transparent" class="text-center" width="100%">
        <div class="mb-2">{{LangUtil("提前结算金额")}}</div>
        <div>
            {{GlobalVar.currency}}
            <span class="text-20 font-weight-bold"> {{amountFormat(myProxy.pageData.data.stake)}} </span>
        </div>
        <v-divider class="my-3" />
        <div class="mb-2">{{LangUtil("提前结算返还")}}</div>
        <div>{{GlobalVar.currency}}
            <span class="text-20 font-weight-bold red--text"> {{amountFormat(myProxy.pageData.data.amount)}} </span>
        </div>
    </v-sheet>
</DialogMessageBox>
