.btninfo {
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    color: #8e8f91;
}
.btninfo-light {
    border: solid 1px #e8e8e2;
    background-color: #fff;
}
.btninfo-dark {
    border: solid 1px #5a5a5a;
    background-color: #202121;
}
.btninfo-light:hover {
    border: none;
    background-image: linear-gradient(90deg, #fcb131 0%, #ffe64d);
    padding-left: 16px;
    padding-right: 16px;
    color: #0f1213 !important;
}
.btninfo-dark:hover {
    border: none;
    background-image: linear-gradient(90deg, #fcb131 0%, #ffe64d);
    padding-left: 16px;
    padding-right: 16px;
    color: #0f1213 !important;
}
.rounded-10 {
    border-radius: 10px;
}
