.svga-player {
    display: none;
    width: 30px;
    height: 30px;
    &.mobile {
        width: 25px;
        height: 25px;
    }
}

.tag-btn {
    svg {
        transition: all 0.3s ease-in;
        transform: scale(1);
    }
    .svga-player {
        display: none;
    }
    &:hover {
        svg {
            display: none;
        }
    }
    &.active {
        transform: scale(1);
        color: #0f1213 !important;
        background-color: #ffe399 !important;
        &::before {
            background-color: transparent !important;
        }
        svg {
            display: none;
        }
    }
}
.theme--light {
    .tag-btn {
        &:hover {
            .svga-player.inactive.light {
                display: block;
            }
        }
        &.active {
            .svga-player.active.light {
                display: block;
            }
            .svga-player.inactive.light {
                display: none;
            }
        }
    }
}
.theme--dark {
    .tag-btn {
        &:hover {
            .svga-player.inactive.dark {
                display: block;
            }
        }
        &.active {
            color: #f0eff0 !important;
            background-color: #524520 !important;

            .svga-player.active.dark {
                display: block;
            }
            .svga-player.inactive.dark {
                display: none;
            }
        }
    }
}

::v-deep .divbox  {
    overflow-y: hidden;
}
// .h5-tag-btn {
//     &.active {
//         color: #ffbc05 !important;
//         opacity: 1;
//     }
//     &::before {
//         background-color: transparent !important;
//     }
// }
