<div>
    <v-sheet v-if="!$vuetify.breakpoint.mobile" color="bgBanner" class="rounded-lg">
        <horizontal_scroll class="pa-2" :offsetx="16" v-if="new_menu_subnav">
            <template v-slot="{data}">
                <v-hover v-for="key of sportIdArr" v-slot="{ hover }" :key="key">
                    <v-btn
                        class="mr-2 tag-btn rounded-lg"
                        :class="{'active': key == curSportId}"
                        color="tagTextColor1"
                        text
                        :ripple="false"
                        height="75"
                        min-width="75"
                        :disabled="!new_menu_subnav[key].num"
                        @click="onSportClick(Number(key))"
                    >
                        <div class="d-flex flex-column">
                            <svg-icon class="text-30 mr-1" :icon="sportIcon[key]"></svg-icon>
                            <template v-if="$vuetify.theme.dark">
                                <SvgaPlayer
                                    class="svga-player active mr-3"
                                    :id="getSportSvga(key, true, true)"
                                    :src="resolveSvgaSrc(getSportSvga(key, true, true))"
                                ></SvgaPlayer>
                                <SvgaPlayer
                                    class="svga-player inactive mr-3"
                                    :id="getSportSvga(key, false, true)"
                                    :src="resolveSvgaSrc(getSportSvga(key, false, true))"
                                ></SvgaPlayer>
                            </template>
                            <template v-else>
                                <SvgaPlayer
                                    class="svga-player active mr-3"
                                    :id="getSportSvga(key, true, false)"
                                    :src="resolveSvgaSrc(getSportSvga(key, true, false))"
                                ></SvgaPlayer>
                                <SvgaPlayer
                                    class="svga-player inactive mr-3"
                                    :id="getSportSvga(key, false, false)"
                                    :src="resolveSvgaSrc(getSportSvga(key, false, false))"
                                ></SvgaPlayer>
                            </template>
                            <div class="d-flex align-center text-14 mt-1">
                                <span>{{new_menu_subnav[key].sport}}</span>
                                <span class="ml-1 font-weight-bold">{{new_menu_subnav[key].num}}</span>
                            </div>
                        </div>
                    </v-btn>
                </v-hover>
            </template>
        </horizontal_scroll>
    </v-sheet>
    <v-sheet v-else color="bgBanner" class="rounded-lg">
        <horizontal_scroll class="pa-2" :offsetx="8" v-if="new_menu_subnav">
            <template v-slot="{data}">
                <v-btn
                    v-for="key of sportIdArr"
                    :key="key"
                    class="font-weight-bold tag-btn rounded-lg"
                    :class="{'active': homeProxy.listQueryComp.sport_id == key}"
                    color="tagTextColor1"
                    small
                    text
                    :ripple="false"
                    height="70"
                    min-width="70"
                    :disabled="!new_menu_subnav[key].num"
                    @click="onSportClick(key)"
                >
                    <div class="d-flex flex-column">
                        <svg-icon class="text-25 mr-1" :icon="sportIcon[key]"></svg-icon>
                        <template v-if="$vuetify.theme.dark">
                            <SvgaPlayer
                                class="svga-player active mr-3 mobile"
                                :id="getSportSvga(key, true, true)"
                                :src="resolveSvgaSrc(getSportSvga(key, true, true))"
                            ></SvgaPlayer>
                            <SvgaPlayer
                                class="svga-player inactive mr-3 mobile"
                                :id="getSportSvga(key, false, true)"
                                :src="resolveSvgaSrc(getSportSvga(key, false, true))"
                            ></SvgaPlayer>
                        </template>
                        <template v-else>
                            <SvgaPlayer
                                class="svga-player active mr-3 mobile"
                                :id="getSportSvga(key, true, false)"
                                :src="resolveSvgaSrc(getSportSvga(key, true, false))"
                            ></SvgaPlayer>
                            <SvgaPlayer
                                class="svga-player inactive mr-3 mobile"
                                :id="getSportSvga(key, false, false)"
                                :src="resolveSvgaSrc(getSportSvga(key, false, false))"
                            ></SvgaPlayer>

                        </template>
                        <div class="d-flex align-center text-14 mt-2">
                            <span>{{new_menu_subnav[key].sport}}</span>
                            <span class="ml-1 font-weight-bold">{{new_menu_subnav[key].num}}</span>
                        </div>
                    </div>
                </v-btn>
            </template>
        </horizontal_scroll>
    </v-sheet>
</div>
