<div>
    <v-sheet v-if="!$vuetify.breakpoint.mobile" color="bgBanner" class="rounded-lg">
        <horizontal_scroll class="pa-2" :offsetx="16" v-if="new_menu_subnav">
            <template v-slot="{data}">
                <v-btn
                    v-for="key of sportIdArr"
                    :key="key"
                    class="mr-2 tag-btn rounded-lg"
                    :class="{'active': key == curSportId}"
                    color="tagTextColor1"
                    text
                    :ripple="false"
                    height="75"
                    min-width="75"
                    :disabled="!new_menu_subnav[key].num"
                    @click="onSportClick(Number(key))"
                >
                    <div class="d-flex flex-column">
                        <svg-icon class="text-30 mr-1" :icon="sportIcon[key]"></svg-icon>
                        <div class="d-flex align-center text-14 mt-1">
                            <span>{{new_menu_subnav[key].sport}}</span>
                            <span class="ml-1 font-weight-bold">{{new_menu_subnav[key].num}}</span>
                        </div>
                    </div>
                </v-btn>
            </template>
        </horizontal_scroll>
    </v-sheet>
    <v-sheet v-else color="bgBanner" class="rounded-lg">
        <horizontal_scroll class="py-2">
            <template v-slot="{data}">
                <v-btn
                    v-for="key of sportIdArr"
                    :key="key"
                    :disabled="!new_menu_subnav[key].num"
                    @click="onSportClick(key)"
                    class="font-weight-bold h5-tag-btn px-2"
                    :class="{'active': homeProxy.listQueryComp.sport_id == key}"
                    text
                    elevation="0"
                    :ripple="false"
                    max-height="30"
                    width="80"
                >
                    <span class="d-flex align-center">
                        <div v-if="sportIcon[key]" class="text-24"><svg-icon :icon="sportIcon[key]"></svg-icon></div>
                        <span class="ml-1">{{new_menu_subnav[key].num}}</span>
                    </span>
                </v-btn>
            </template>
        </horizontal_scroll>
    </v-sheet>
</div>
