.svga-player {
    display: none;
    width: 30px;
    height: 30px;
}

.tag-btn {
    svg {
        transition: all 0.3s ease-in;
        transform: scale(1);
    }
    &:hover {
        svg {
            display: none;
        }
        .svga-player.inactive {
            display: block;
        }
    }
    &.active {
        transform: scale(1);
        color: #0f1213 !important;
        background-color: #ffe399 !important;
        &::before {
            background-color: transparent !important;
        }
        svg {
            display: none;
        }
        .svga-player.active {
            display: block;
        }
        .svga-player.inactive {
            display: none;
        }
    }
}

.theme--dark {
    .tag-btn {
        &.active {
            color: #f0eff0 !important;
            background-color: #524520 !important;
        }
    }
}

::v-deep .divbox  {
    overflow-y: hidden;
}
// .h5-tag-btn {
//     &.active {
//         color: #ffbc05 !important;
//         opacity: 1;
//     }
//     &::before {
//         background-color: transparent !important;
//     }
// }
