<div>
    <template v-if="!$vuetify.breakpoint.mobile">
        <div class="mt-2">
            <v-sheet color="transparent" class="d-flex align-center">
                <v-btn fab x-small class="btn-back" elevation="0" :ripple="false" color="transparent" @click="onBack">
                    <svg-icon icon="back3" class="text-22"></svg-icon>
                </v-btn>
                <v-menu open-on-hover bottom offset-y v-if="Object.keys(curCompetition).length > 0">
                    <template v-slot:activator="{ on, attrs, value }">
                        <div class="d-flex align-center font-weight-bold text-18 tagTextColor2--text" v-bind="attrs" v-on="on">
                            <svg-icon :icon="sportIcon[curCompetition.sport_id]" class="ml-2 text-25"></svg-icon>
                            <span class="ml-2">{{curCompetition.competition_name}}</span>
                            <span class="ml-2">{{getEventDate(curCompetition.date)}}</span>
                            <div class="icon-box iconfont text-12 ml-3" :class="value? 'arrow-show':'arrow'">
                                <svg-icon icon="zoom_out"></svg-icon>
                            </div>
                        </div>
                    </template>

                    <v-list dense class="py-0">
                        <v-list-item-group @change="onChangeCompetion" v-model="selectedItem" active-class="list-active" mandatory>
                            <template v-for="(item, index) in pageData.competition_list">
                                <v-list-item :key="item.competition_id">
                                    <v-list-item-title class="d-flex align-center">
                                        <svg-icon :icon="sportIcon[curCompetition.sport_id]" class="ml-2 text-25"></svg-icon>
                                        <span class="ml-2">{{item.competition_name}}</span>
                                        <span class="ml-2">{{getEventDate(item.date)}}</span>
                                    </v-list-item-title>
                                </v-list-item>
                                <v-divider v-if="index + 1 < pageData.competition_list.length" :key="index"></v-divider>
                            </template>
                        </v-list-item-group>
                    </v-list>
                </v-menu>
            </v-sheet>

            <v-sheet color="transparent" class="mt-4" height="40">
                <horizontal_scroll :offsetx="16">
                    <template v-slot="{data}">
                        <v-btn
                            v-for="(_,key) of curCompetition?.matches"
                            :key="key"
                            :disabled="false"
                            class="rounded mr-2 tag-btn"
                            :class="{'active': pageData.matchKey == key}"
                            elevation="0"
                            outlined
                            width="60"
                            height="30"
                            small
                            @click="onTagClick(key)"
                        >
                            <span class="d-flex align-center font-weight-bold text-16"> {{ key }} </span>
                        </v-btn>
                    </template>
                </horizontal_scroll>
            </v-sheet>
            <template v-if="!pageData.loading">
                <v-sheet color="transparent" class="mt-3 d-flex" v-if="match">
                    <v-img :src="curCompetition.country_icon" height="21" max-width="21" contain></v-img>
                    <div class="text-14 tagTextColor2--text ml-2">
                        <div>
                            <span>{{LangUtil(curCompetition.country)}}</span>
                            <!-- <span class="tagTextColor1--text ml-2">{{curCompetition.competition_name}}</span> -->
                        </div>
                        <div>{{LangUtil("赛程：{0}m",match.distance)}}</div>
                    </div>
                    <v-spacer></v-spacer>
                    <template v-if="states && states.match_phase != 'OPEN'">
                        <v-sheet
                            color="timeColor2"
                            class="rounded d-flex align-center justify-center px-1 text-12 white--text"
                            height="20"
                            min-width="60"
                        >
                            {{getResultStr(states.match_phase)}}
                        </v-sheet>
                    </template>
                    <template v-else>
                        <CountdownTime :date="match.start_time_timestamp"></CountdownTime>
                    </template>
                </v-sheet>
                <ResultTable v-if="states && states.match_phase == 'DONE'" :match="match" :states="states" :markets="markets"></ResultTable>
                <MarketTable v-if="match && markets" :match="match" :states="states" :markets="markets"></MarketTable>
            </template>
            <template v-else>
                <loader />
            </template>
        </div>
    </template>

    <template v-else>
        <v-sheet color="bgBanner" class="d-flex align-center px-2" height="64" style="position: sticky; top: 0; z-index: 1">
            <v-btn icon @click="onBack">
                <svg-icon class="tagTextColor2--text" icon="back2"></svg-icon>
            </v-btn>

            <v-menu open-on-hover bottom offset-y v-if="Object.keys(curCompetition).length > 0">
                <template v-slot:activator="{ on, attrs, value }">
                    <div class="d-flex align-center font-weight-bold text-16 tagTextColor2--text" v-bind="attrs" v-on="on">
                        <svg-icon :icon="sportIcon[curCompetition.sport_id]" class="ml-1 text-25"></svg-icon>
                        <span class="ml-2">{{curCompetition.competition_name}}</span>
                        <span class="ml-2">{{getEventDate(curCompetition.date)}}</span>
                        <div class="icon-box iconfont text-12 ml-3" :class="value? 'arrow-show':'arrow'">
                            <svg-icon icon="zoom_out"></svg-icon>
                        </div>
                    </div>
                </template>

                <v-list dense class="py-0">
                    <v-list-item-group @change="onChangeCompetion" v-model="selectedItem" active-class="list-active" mandatory>
                        <template v-for="(item, index) in pageData.competition_list">
                            <v-list-item :key="item.competition_id">
                                <v-list-item-title class="d-flex align-center">
                                    <svg-icon :icon="sportIcon[curCompetition.sport_id]" class="ml-2 text-25"></svg-icon>
                                    <span class="ml-2">{{item.competition_name}}</span>
                                    <span class="ml-2">{{getEventDate(item.date)}}</span>
                                </v-list-item-title>
                            </v-list-item>
                            <v-divider v-if="index + 1 < pageData.competition_list.length" :key="index"></v-divider>
                        </template>
                    </v-list-item-group>
                </v-list>
            </v-menu>

            <v-spacer></v-spacer>
            <v-btn icon @click="openHelp">
                <svg-icon class="text-20 tagTextColor2--text" icon="help"></svg-icon>
            </v-btn>
            <v-btn icon class="ml-1 mr-3" @click="onOrder">
                <svg-icon class="text-20 tagTextColor2--text" icon="history"></svg-icon>
            </v-btn>
        </v-sheet>
        <v-sheet color="transparent" class="mt-4 px-2">
            <horizontal_scroll :offsetx="16">
                <template v-slot="{data}">
                    <v-btn
                        v-for="(_,key) of curCompetition?.matches"
                        :key="key"
                        :disabled="false"
                        class="rounded-pill mr-2 tag-btn"
                        :class="{'active': pageData.matchKey == key}"
                        elevation="0"
                        outlined
                        height="30"
                        @click="onTagClick(key)"
                    >
                        <span class="d-flex align-center font-weight-bold"> {{ key }} </span>
                    </v-btn>
                </template>
            </horizontal_scroll>
        </v-sheet>
        <template v-if="!pageData.loading">
            <v-sheet
                v-if="match"
                color="bgBanner"
                ref="divbox"
                class="overflow-hidden mt-4 mx-2 rounded-10 pa-2"
                style="position: relative"
            >
                <v-window v-model="mobileTopWindow">
                    <v-window-item>
                        <v-sheet color="transparent" class="d-flex align-center" height="72">
                            <v-img :src="curCompetition.country_icon" height="36" max-width="36" contain></v-img>
                            <div class="text-14 tagTextColor2--text ml-3 font-weight-bold">
                                <div>
                                    <span>{{LangUtil(curCompetition.country)}}</span>
                                    <!-- <span class="tagTextColor1--text ml-2">{{curCompetition.competition_name}}</span> -->
                                </div>
                                <div>{{LangUtil("赛程：{0}m",match.distance)}}</div>
                            </div>
                            <v-spacer></v-spacer>
                            <template v-if="states && states.match_phase != 'OPEN'">
                                <v-sheet
                                    color="timeColor2"
                                    class="rounded d-flex align-center justify-center px-1 text-12 white--text"
                                    height="20"
                                    min-width="60"
                                >
                                    {{getResultStr(states.match_phase)}}
                                </v-sheet>
                            </template>
                            <template v-else>
                                <CountdownTime :date="match.start_time_timestamp"></CountdownTime>
                            </template>
                        </v-sheet>
                        <template v-if="match.live_status == 1 || match.animation_status == 1">
                            <v-divider></v-divider>
                            <div class="d-flex justify-center pt-2">
                                <v-btn
                                    class="btns elevation-0 rounded-pill mx-2"
                                    height="30"
                                    v-if="match.live_status == 1"
                                    @click="clicklive"
                                >
                                    <svg-icon class="text-20" icon="live1_"></svg-icon>
                                    <div class="text-12 ml-1">{{LangUtil("直播")}}</div>
                                </v-btn>
                                <v-btn
                                    class="btns elevation-0 rounded-pill mx-2"
                                    height="30"
                                    v-if="match.animation_status == 1"
                                    @click="clickAnim"
                                >
                                    <svg-icon class="text-20" icon="animate1_"></svg-icon>
                                    <div class="text-12 ml-1">{{LangUtil("动画")}}</div>
                                </v-btn>
                            </div>
                        </template>
                    </v-window-item>
                    <v-window-item>
                        <LivePlayer class="pt-6" v-if="mobileTopWindow==1" :videoUrl="match.live_url" live autoplay />
                    </v-window-item>
                    <v-window-item>
                        <iframe
                            v-if="mobileTopWindow==2"
                            class="pt-1"
                            ref="ifr"
                            width="100%"
                            :height="iframeHeight"
                            frameborder="0"
                            :src="'./animation/preview.html?anim_id=' + match.animation_id + '&lang=' + GlobalVar.lang"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        ></iframe>
                    </v-window-item>
                </v-window>

                <v-btn class="btn_close" icon v-if="mobileTopWindow != 0" @click="mobileTopWindow=0">
                    <svg-icon class="text-20" icon="close"></svg-icon>
                </v-btn>
            </v-sheet>

            <template v-if="mobileTagOptions.length == 1">
                <div class="text-14 pl-2 mt-4 font-weight-bold">{{mobileTagOptions[0]}}</div>
                <MarketTable v-if="match" class="px-2" :match="match" :states="states" :markets="markets"></MarketTable>
            </template>
            <template v-else>
                <v-sheet color="transparent" width="100%" class="d-flex px-2 mt-4">
                    <v-btn
                        v-for="(title, index) of mobileTagOptions"
                        :key="title"
                        :disabled="false"
                        class="rounded-10 tag-btn"
                        :class="[{'active': index == mobileBottomWindow},{'mr-2': index == 0}]"
                        elevation="0"
                        outlined
                        height="36"
                        style="flex: 1"
                        @click="mobileBottomWindow = index"
                    >
                        <span class="d-flex align-center"> {{ LangUtil(title) }} </span>
                    </v-btn>
                </v-sheet>

                <v-window v-model="mobileBottomWindow" class="px-2">
                    <v-window-item>
                        <ResultTable :match="match" :states="states" :markets="markets"></ResultTable>
                    </v-window-item>
                    <v-window-item>
                        <MarketTable v-if="match && markets" :match="match" :states="states" :markets="markets"></MarketTable>
                    </v-window-item>
                </v-window>
            </template>
        </template>
        <template v-else>
            <div class="mt-4 px-2">
                <loader />
            </div>
        </template>
    </template>
</div>
