<v-card class="textGray--text mx-2 elevation-0" height="100%" color="transparent">
    <v-window v-model="window" class="elevation-0">
        <v-window-item>
            <v-list nav dense class="navlist">
                <v-list-item
                    class="mb-1"
                    link
                    @click="window = 1"
                    v-if="!$vuetify.breakpoint.mobile"
                    :disabled="betProxy.pageData.list.length == 0"
                >
                    <v-sheet
                        class="d-flex align-center text-14 rounded-lg textGray--text listitem"
                        color="bgBanner"
                        height="38"
                        width="100%"
                    >
                        <div class="text-20 ml15 mr15"><svg-icon icon="bet"></svg-icon></div>
                        <div class="text-truncate">{{LangUtil('我的投注')}}</div>
                        <v-spacer />
                        <div class="mr15">{{betProxy.pageData.list.length}}</div>
                    </v-sheet>
                </v-list-item>

                <v-list-item class="mb-1" link @click="window = 2" v-if="!$vuetify.breakpoint.mobile">
                    <v-sheet class="d-flex align-center text-14 rounded-lg unsettled-item" color="bgBanner" height="38" width="100%">
                        <div class="text-20 ml15 mr15"><svg-icon icon="bet"></svg-icon></div>
                        <div class="text-truncate">{{LangUtil('未结算注单')}}</div>
                        <v-spacer />
                        <div v-if="!orderUnsettledProxy.pageData.loading" class="mr15">{{unsettledCount}}</div>
                    </v-sheet>
                </v-list-item>

                <v-list-item class="mb-1" link @click="onTagClick('love')">
                    <v-sheet
                        class="d-flex align-center text-14 rounded-lg textGray--text listitem"
                        :class="{'active': homeProxy.listQueryComp.tag == 'love'}"
                        color="bgBanner"
                        height="38"
                        width="100%"
                    >
                        <div class="text-20 ml15 mr15"><svg-icon icon="love"></svg-icon></div>
                        <div class="text-truncate">{{LangUtil('关注赛事')}}</div>
                        <v-spacer />
                        <div class="mr15">{{loveCount}}</div>
                    </v-sheet>
                </v-list-item>

                <v-list-item
                    class="mb-1"
                    link
                    v-for="(item, index) in pageData.menu_subnav.top"
                    :key="item.tag"
                    @click="onTagClick(item.tag)"
                >
                    <v-sheet
                        class="d-flex align-center text-14 rounded-lg textGray--text listitem"
                        :class="{'active': homeProxy.listQueryComp.tag == item.tag}"
                        color="bgBanner"
                        height="38"
                        width="100%"
                    >
                        <div class="text-20 ml15 mr15">
                            <svg-icon v-if="tagIcon[item.tag]" :icon="tagIcon[item.tag]"></svg-icon>
                            <img v-else :src="item.icon" width="20" height="20" />
                        </div>
                        <div class="text-truncate">{{LangUtil(item.name)}}</div>
                        <v-spacer />
                        <div class="mr15">{{item.num}}</div>
                    </v-sheet>
                </v-list-item>

                <v-list-group
                    class="mb-1"
                    v-model="pageData.menu_subnav.centerOpen[index]"
                    v-for="(item, index) in pageData.menu_subnav.center"
                    :key="item.country_code"
                    @click="onGetSubMenu(item.country_code)"
                    v-ripple="{ class: `textGray--text` }"
                >
                    <template v-slot:activator>
                        <v-sheet
                            class="d-flex align-center text-14 rounded-lg textGray--text listitem"
                            color="bgBanner"
                            height="38"
                            width="100%"
                        >
                            <v-img
                                :src="item.icon"
                                width="20px"
                                height="20px"
                                max-height="20px"
                                max-width="20px"
                                contain
                                class="ml15 mr15"
                            ></v-img>
                            <div class="text-truncate mr-3">{{LangUtil(item.country_name)}}</div>
                            <v-spacer />
                            <div class="mr15">{{item.num}}</div>
                        </v-sheet>
                    </template>
                    <div>
                        <v-list-item
                            class="mb-1"
                            link
                            v-for="(item1, index1) in item.competitions"
                            :key="index1"
                            @click="onShowCompetition(item1.competition_id)"
                        >
                            <v-sheet
                                class="d-flex align-center text-14 rounded-lg textGray--text comp-item"
                                :class="{'active': homeProxy.listQueryComp.competition_id == item1.competition_id}"
                                height="38"
                                width="100%"
                            >
                                <v-sheet class="ml-5 mr10 vline" width="2" height="16"></v-sheet>
                                <div v-if="item1.name" class="text-truncate mr-3">{{item1.name}}</div>
                                <v-skeleton-loader v-else class="mr-2" width="100%" type="card-heading"></v-skeleton-loader>
                            </v-sheet>
                        </v-list-item>
                        <v-list-item link @click="onShowCountry(item.country_code)">
                            <v-sheet
                                class="d-flex align-center text-14 rounded-lg textGray--text comp-item"
                                :class="{'active': homeProxy.listQueryComp.country == item.country_code}"
                                height="38"
                                width="100%"
                            >
                                <v-sheet class="ml-5 mr10 vline" width="2" height="16"></v-sheet>
                                <div class="text-truncate mr-3">{{LangUtil("更多赛事")}}</div>
                            </v-sheet>
                        </v-list-item>
                    </div>
                </v-list-group>
            </v-list>
        </v-window-item>

        <v-window-item v-if="!$vuetify.breakpoint.mobile">
            <v-sheet class="d-flex align-center justify-center rounded-10 btnPlain--text mb-2 navtitle" height="48" color="bgBanner">
                <v-btn fab x-small class="btn-back" elevation="0" :ripple="false" color="transparent" @click="window=0">
                    <svg-icon icon="back1" class="text-22"></svg-icon>
                </v-btn>
                <div class="text-16 font-weight-bold">{{LangUtil("我的投注")}}</div>
                <span class="bet-count">{{betProxy.pageData.list.length}}</span>
            </v-sheet>
            <div class="page-content">
                <MyBet />
            </div>
        </v-window-item>

        <v-window-item v-if="!$vuetify.breakpoint.mobile">
            <v-sheet class="d-flex align-center justify-center rounded-10 btnPlain--text mb-2 navtitle" height="48" color="bgBanner">
                <v-btn fab x-small class="btn-back" elevation="0" :ripple="false" color="transparent" @click="onExitOrderUnsettled">
                    <svg-icon icon="back1" class="text-22"></svg-icon>
                </v-btn>
                <div class="text-16 font-weight-bold">{{LangUtil("未结算注单")}}</div>
            </v-sheet>
            <div class="page-content">
                <PageOrderUnsettled />
            </div>
        </v-window-item>

        <v-window-item v-if="!$vuetify.breakpoint.mobile">
            <v-sheet class="d-flex align-center justify-center rounded-10 btnPlain--text mb-2 navtitle" height="48" color="bgBanner">
                <v-btn fab x-small class="btn-back" elevation="0" :ripple="false" color="transparent" @click="onExitBetResult">
                    <svg-icon icon="back1" class="text-22"></svg-icon>
                </v-btn>
                <div class="text-16 font-weight-bold">{{LangUtil("订单确认")}}</div>
            </v-sheet>
            <div class="page-content">
                <BetResult />
            </div>
        </v-window-item>
    </v-window>
</v-card>
