<v-card class="textGray--text mx-2 elevation-0" height="100%" color="transparent">
    <v-window v-model="window" class="elevation-0">
        <v-window-item>
            <v-list nav dense class="navlist">
                <v-list-item class="mb-1" link @click="window = 1" v-if="!$vuetify.breakpoint.mobile" :disabled="betLength == 0">
                    <v-sheet
                        class="d-flex align-center text-14 rounded-lg textGray--text listitem"
                        color="bgBanner"
                        height="38"
                        width="100%"
                    >
                        <div class="text-20 ml15 mr15"><svg-icon icon="bet"></svg-icon></div>
                        <div class="text-truncate">{{LangUtil('我的投注')}}</div>
                        <v-spacer />
                        <div class="mr15">{{betLength}}</div>
                    </v-sheet>
                </v-list-item>

                <v-list-item class="mb-1" link @click="window = 2" v-if="!$vuetify.breakpoint.mobile">
                    <v-sheet class="d-flex align-center text-14 rounded-lg unsettled-item" color="bgBanner" height="38" width="100%">
                        <div class="text-20 ml15 mr15"><svg-icon icon="bet"></svg-icon></div>
                        <div class="text-truncate">{{LangUtil('未结算注单')}}</div>
                        <v-spacer />
                        <div v-if="!orderUnsettledProxy.pageData.loading" class="mr15">{{unsettledCount}}</div>
                    </v-sheet>
                </v-list-item>

                <SportTag v-for="key in myProxy.pageData.sportIdArr" :key="key" :sport-id="key" :item="new_menu_subnav[key]"></SportTag>

                <!-- <v-list-item class="mb-1" link @click="onTagClick('love')">
                    <v-sheet
                        class="d-flex align-center text-14 rounded-lg textGray--text listitem border"
                        :class="{'child-active': homeProxy.listQueryComp.tag == 'love'}"
                        color="bgBanner"
                        height="38"
                        width="100%"
                    >
                        <div class="text-20 ml15 mr15"><svg-icon icon="love"></svg-icon></div>
                        <div class="text-truncate">{{LangUtil('关注赛事')}}</div>
                        <v-spacer />
                        <div class="mr15">{{loveCount}}</div>
                    </v-sheet>
                </v-list-item> -->
            </v-list>
        </v-window-item>

        <v-window-item v-if="!$vuetify.breakpoint.mobile">
            <v-sheet class="d-flex align-center justify-center rounded-10 btnPlain--text mb-2 navtitle" height="48" color="bgBanner">
                <v-btn fab x-small class="btn-back" elevation="0" :ripple="false" color="transparent" @click="window=0">
                    <svg-icon icon="back1" class="text-22"></svg-icon>
                </v-btn>
                <div class="text-16 font-weight-bold">{{LangUtil("我的投注")}}</div>
                <span class="bet-count">{{betProxy.pageData.list.length}}</span>
            </v-sheet>
            <div class="page-content">
                <MyBet />
            </div>
        </v-window-item>

        <v-window-item v-if="!$vuetify.breakpoint.mobile">
            <v-sheet class="d-flex align-center justify-center rounded-10 btnPlain--text mb-2 navtitle" height="48" color="bgBanner">
                <v-btn fab x-small class="btn-back" elevation="0" :ripple="false" color="transparent" @click="onExitOrderUnsettled">
                    <svg-icon icon="back1" class="text-22"></svg-icon>
                </v-btn>
                <div class="text-16 font-weight-bold">{{LangUtil("未结算注单")}}</div>
            </v-sheet>
            <div class="page-content">
                <PageOrderUnsettled />
            </div>
        </v-window-item>

        <v-window-item v-if="!$vuetify.breakpoint.mobile">
            <v-sheet class="d-flex align-center justify-center rounded-10 btnPlain--text mb-2 navtitle" height="48" color="bgBanner">
                <v-btn fab x-small class="btn-back" elevation="0" :ripple="false" color="transparent" @click="onExitBetResult">
                    <svg-icon icon="back1" class="text-22"></svg-icon>
                </v-btn>
                <div class="text-16 font-weight-bold">{{LangUtil("订单确认")}}</div>
            </v-sheet>
            <div class="page-content">
                <BetResult />
            </div>
        </v-window-item>
    </v-window>
</v-card>
