.listitem:hover {
    background-image: linear-gradient(90deg, #f64d55 0%, #ffb95d);
    color: #0f1213 !important;
}
.country-item:hover {
    background-image: linear-gradient(90deg, #fcb131 0%, #ffe64d);
    color: #0f1213 !important;
}

::v-deep .v-list-item--active:before {
    opacity: 0 !important;
}

.navlist {
    background-color: transparent;
    padding: 0;
}

::v-deep .v-list--nav .v-list-item {
    padding: 0;
}
::v-deep .v-list-group .v-list-group__header .v-list-item__icon.v-list-group__header__append-icon {
    display: none;
}
.comp-item {
    box-sizing: border-box;
}
.compitem-light {
    border: solid 2px #e8e8e2;
    background-color: #fff;
}
.compitem-dark {
    border: solid 2px #333435;
    background-color: #202121;
}
.btn-back {
    position: absolute;
    left: 10px;
}
.navtitle {
    position: sticky;
}
::v-deep.v-btn:before {
    background-color: transparent;
}


::v-deep .v-skeleton-loader__heading{
    margin: 0px !important;
    width:100%;
}
::v-deep .v-skeleton-loader .v-skeleton-loader__card-heading{
    background-color: transparent !important;
}