<v-sheet class="textGray--text" color="transparnet">
    <v-sheet class="d-flex align-center" color="bgBanner" height="48">
        <svg-icon icon="home"></svg-icon>
        <div>{{LangUtil('关注赛事')}}</div>
        <v-spacer/>
        <div>{{loveCount}}</div>
    </v-sheet>


    <v-list nav dense>
        <v-list-item link @click="onTagClick('love')" :disabled="loveCount==0">
            <v-list-item-icon>
                <v-icon>mdi-star</v-icon>
            </v-list-item-icon>
            <v-list-item-title>{{LangUtil('关注赛事')}} ({{loveCount}})</v-list-item-title>
        </v-list-item>
        <v-list-item link v-for="(item, index) in pageData.menu_subnav.top" :key="item.tag" @click="onTagClick(item.tag)" :disabled="item.num==0">
            <v-list-item-icon>
                <v-icon v-if="tagIcon[item.tag]" size="20">{{tagIcon[item.tag]}}</v-icon>
                <img v-else :src="item.icon" width="20" height="20">
            </v-list-item-icon>
            <v-list-item-title>{{LangUtil(item.name)}} ({{item.num}})</v-list-item-title>
        </v-list-item>

        <v-list-group
            v-model="pageData.menu_subnav.centerOpen[index]"
            v-for="(item, index) in pageData.menu_subnav.center"
            :key="item.country_code"
            @click="onGetSubMenu(item.country_code)"
        >
            <template v-slot:activator>
                <v-list-item-content>
                    <div class="d-flex">
                        <v-img :src="item.icon" width="22px" height="22px" max-height="22px" max-width="22px" contain class="mr-2"></v-img>
                        <v-list-item-title class="d-flex">
                            <div class="text-truncate mr-1" style="max-width: 130px">{{LangUtil(item.country_name)}}</div>
                            ({{item.num}})
                        </v-list-item-title>
                    </div>
                </v-list-item-content>
            </template>

            <v-list-item link v-for="(item1, index1) in item.competitions" :key="index1" @click="onShowCompetition(item1.competition_id)">
                <v-list-item-title class="pl-6">
                    <div class="d-flex align-center">
                        <v-icon size="12" class="mr-2" color="blackText">mdi-moon-full</v-icon>
                        <div v-if="item1.name" class="text-truncate">{{item1.name}}</div>
                        <v-skeleton-loader v-else class="mx-auto" width="100%" type="card-heading"></v-skeleton-loader>
                    </div>
                </v-list-item-title>
            </v-list-item>
            <v-list-item link @click="onShowCountry(item.country_code)">
                <v-list-item-title class="pl-6">
                    <div class="d-flex align-center">
                        <v-icon size="12" class="mr-2" color="blackText">mdi-moon-full</v-icon>
                        {{LangUtil("更多赛事")}}
                        <v-spacer />
                        <v-icon class="mr-1">mdi-chevron-double-right</v-icon>
                    </div>
                </v-list-item-title>
            </v-list-item>
        </v-list-group>
    </v-list>
</v-sheet>