.theme--light .btnbox[data-v-273ae892]:hover {
  filter: brightness(90%);
}
.theme--dark .btnbox[data-v-273ae892]:hover {
  filter: brightness(120%);
}
.v-tooltip__content.tip[data-v-631dec6a] {
  border-radius: 5px;
  border: 1px solid #03259c;
  background: #ffffff;
  color: #302f2f;
  max-width: 94%;
  opacity: 1 !important;
  margin-left: 30px;
}
.header-tips[data-v-631dec6a] {
  min-height: 50px;
  margin-top: -20px !important;
}
@media screen and (max-width: 600px) {
.header-tips[data-v-631dec6a] {
    min-height: 50px;
    margin-top: -20px !important;
}
}
[data-v-387a3e2e] .v-expansion-panel-header:not(.v-expansion-panel-header--mousedown):focus:before {
  opacity: 0;
}
[data-v-387a3e2e] .v-expansion-panel-header > :not(.v-expansion-panel-header__icon) {
  flex: none;
}
[data-v-387a3e2e] .theme--dark.v-expansion-panels .v-expansion-panel {
  background-color: transparent;
}
[data-v-f9edba3e] .v-btn:not(.v-btn--round).v-size--default {
  padding: 0 10px;
  min-width: 32px;
}
.v-expansion-panels .v-expansion-panel[data-v-f9edba3e] {
  background-color: transparent;
}
[data-v-f9edba3e] .v-expansion-panel-header {
  padding: 0;
  background-color: white;
  border-radius: 8px;
}
[data-v-f9edba3e] .v-expansion-panel-header--active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
[data-v-f9edba3e] .v-expansion-panel-content__wrap {
  padding: 0px !important;
}
[data-v-f9edba3e] .v-expansion-panel {
  border-radius: 8px;
}
[data-v-f9edba3e] .v-expansion-panel::before {
  box-shadow: none;
}
.titleline[data-v-f9edba3e] {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
[data-v-f9edba3e].v-btn:before {
  background-color: transparent;
}
input[data-v-f9edba3e] {
  width: 100%;
  outline: none;
}
.header_m[data-v-f9edba3e] {
  position: sticky;
  top: 0;
  z-index: 5;
}
[data-v-f9edba3e] .v-expansion-panel-content {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.tag-btn1[data-v-f9edba3e] {
  border-color: #d6dde3;
  background-color: #fff;
  opacity: 0.8;
}
.tag-btn1[data-v-f9edba3e]::before {
  background-color: transparent !important;
}
.tag-btn1.active[data-v-f9edba3e] {
  color: #0f1213 !important;
  border-color: #febc08;
  opacity: 1;
}
.theme--dark .tag-btn1[data-v-f9edba3e] {
  border-color: #3e3f41;
  background-color: #272828;
  color: #fff;
}
.theme--dark .tag-btn1.active[data-v-f9edba3e] {
  color: #fff !important;
  border-color: #febc08;
}
.theme--light .money[data-v-f9edba3e] {
  background-color: #ffffff;
}
.theme--light[data-v-f9edba3e] .v-btn.v-btn--disabled.v-btn--has-bg {
  background-color: #f1f1f1 !important;
}
.theme--dark .money[data-v-f9edba3e] {
  background-color: #272828;
}
.theme--dark[data-v-f9edba3e] .v-btn.v-btn--disabled.v-btn--has-bg {
  background-color: #303030 !important;
}
.theme--dark .btnTag[data-v-f9edba3e] {
  background-color: #303030;
}
input[data-v-f9edba3e] {
  width: 100%;
  outline: none;
}
