<div class="textBet--text" :class="{'div-disabled': pageData.loading}">
    <div class="d-flex align-center ml10 mr-1 mb10">
        <v-sheet class="mr10" color="yellow" width="2" height="16" rounded></v-sheet>
        <div class="btnPlain--text text-truncate text-14 font-weight-bold">{{item.comp.competition_name}}</div>
        <v-spacer />
        <v-btn plain fab x-small @click="onDelete(item)" v-if="!$vuetify.breakpoint.mobile">
            <svg-icon class="text-16 btnPlain--text" icon="delete"></svg-icon>
        </v-btn>
    </div>

    <!-- <v-divider /> -->
    <div class="line"></div>

    <div class="d-flex align-center mt-2 mb-0 ml10 mr10">
        <div class="text-truncate" v-if="item.matche.c_type == 2">{{item.selection.name}}</div>
        <!-- <div class="font-weight-bold text-truncate" v-else>
            {{OrderTitleUtils.getTeamName(item)}} {{MarketUtils.getSelectionName(item.market.market_type, item.selection, item.matche,
            false)}}
        </div> -->

        <template v-else>
            <v-tooltip top v-if="OrderTitleUtils.getTeamName(item)">
                <template v-slot:activator="{ on, attrs }">
                    <div class="font-weight-bold text-truncate mr-1" v-bind="attrs" v-on="on">{{OrderTitleUtils.getTeamName(item)}}</div>
                </template>
                <v-sheet class="rounded px-2 py-1" max-width="300" color="bgBanner">
                    <span>{{OrderTitleUtils.getTeamName(item)}}</span>
                </v-sheet>
            </v-tooltip>

            <div class="font-weight-bold mr-1">
                {{MarketUtils.getSelectionName(item.market.market_type, item.selection, item.matche, false)}}
            </div>
        </template>

        <v-spacer />
        <div ref="divPrice" id="divPrice" class="pr-1 font-weight-bold text-18">@{{ TransMarketPrice(item.odds) }}</div>
        <div ref="imgOdds" class="text-8 mr-n1 opacity-0">
            <svg-icon :icon="iconOdds"></svg-icon>
        </div>
    </div>

    <div class="mb-1 ml10 mr10">
        <template v-if="checkInplay()">
            <span class="mr-1">{{LangUtil("滚球")}} </span>
            <span class="font-weight-bold mr-1">{{getStats()}} </span>
        </template>
        <span>{{transTitle(item.market.title)}}</span>
    </div>

    <div class="mb-1 ml10 mr10" v-if="item.matche.c_type != 2">
        <!-- <span class="mr-1">{{LangUtil("比赛进程")}}:</span> -->
        <span v-if="states">
            <span class="mr-1" v-if="states.phase_minute > 0">{{LangUtil("已开赛")}}</span>
            <span class="mr-1" :class="states.match_phase=='-'? 'text-red':'text-gray'">
                {{ LangUtil(states ? states.match_phase : "") }}
            </span>
            <span v-if="states.phase_minute > 0">{{ states.phase_minute }} {{LangUtil("分钟")}}</span>
        </span>
        <span v-else-if="item.matche.sb_time - GlobalVar.server_time > 0">
            <span>{{ getStartTime(item.matche) }}</span>
            <span v-if="item.matche.sb_time - GlobalVar.server_time > 86400" class="mr-1">
                {{LangUtil("距开赛")}}{{ getDay() }}{{LangUtil("天")}}
            </span>
            <!-- 一天内 -->
            <span class="ml-1 mr-1" v-else-if="item.matche.sb_time - GlobalVar.server_time > 600">
                <span>{{LangUtil("距开赛")}}</span>
                <span>{{ getHour() }}{{LangUtil("小时")}}</span>
                <span>{{ getMinute() }}{{LangUtil("分")}} </span>
            </span>
            <!-- 十分钟内 -->
            <span v-else class="red--text">{{LangUtil("即将开赛")}}</span>
        </span>
    </div>

    <div class="mb-2 ml10 mr10">{{item.matche.home_team}}<span> VS </span>{{item.matche.away_team}}</div>

    <div class="d-flex ml10 mr10 mb-3 input-box">
        <v-sheet class="d-flex align-center justify-center input_left" min-width="60" :height="$vuetify.breakpoint.mobile?40:36"
            >{{GlobalVar.currency}}</v-sheet
        >
        <v-sheet class="d-flex align-center input_right" width="100%" :height="$vuetify.breakpoint.mobile?40:36">
            <input
                v-if="$vuetify.breakpoint.mobile"
                readonly
                class="btnPlain--text ml-2 font-weight-bold"
                style="width: 100%"
                :placeholder="LangUtil(`单注限额`) + ` ${item.minStake}-${item.maxStake}`"
                v-model="item.stake"
                @click="bshowkeybord = true"
            />
            <input
                v-else
                class="btnPlain--text ml-2 font-weight-bold"
                style="width: 100%"
                :placeholder="LangUtil(`单注限额`) + ` ${item.minStake}-${item.maxStake}`"
                v-model="item.stake"
                @input="onInput(item)"
            />
            <v-btn v-if="item.stake" class="mr-2" icon width="20" height="20" @click="item.stake = ''">
                <!-- <v-icon class="mx-3" :size="$vuetify.breakpoint.xsOnly ? 14 :20" color="colorInfo">mdi-close-circle</v-icon> -->
                <svg-icon icon="cancel-circle"></svg-icon>
            </v-btn>
        </v-sheet>
    </div>
    <transition name="expand">
        <v-sheet color="transparent" v-if="bshowkeybord && $vuetify.breakpoint.mobile" class="d-flex keybord" width="100%">
            <v-row class="ml-2 mr-0" dense>
                <v-col cols="4" v-for="(num, index) in keybordarr" :key="index">
                    <v-card
                        class="d-flex align-center justify-center rounded-10 btns elevation-0 text-14 textBet--text"
                        height="40"
                        @click="!$vuetify.breakpoint.mobile && onInput_mobile(num)"
                        @touchstart="$vuetify.breakpoint.mobile && onInput_mobile(num)"
                        @touchend="onTouchEnd"
                        :key="index"
                    >
                        {{num}}
                    </v-card>
                </v-col>
            </v-row>
            <div style="display: grid" class="mr-2 mt-n1">
                <button
                    @click="onDeleteKeybord"
                    @touchstart="onDeleteKeybord"
                    :width="$vuetify.breakpoint.mobile?70:60"
                    class="keybordright"
                    v-ripple
                >
                    <svg-icon class="text-25" icon="keyborddel"></svg-icon>
                </button>
                <v-card
                    @click="onMax"
                    @touchstart="onMax"
                    @touchend="onTouchEnd"
                    class="keybordright text-18"
                    :width="$vuetify.breakpoint.mobile?70:60"
                    style="height: 88px"
                >
                    MAX
                </v-card>
                <v-card
                    @click="!$vuetify.breakpoint.mobile && (bshowkeybord=false)"
                    @touchstart="$vuetify.breakpoint.mobile && (bshowkeybord=false)"
                    @touchend="onTouchEnd"
                    :width="$vuetify.breakpoint.mobile?70:60"
                    class="keybordright"
                >
                    <svg-icon class="text-30" icon="keybord"></svg-icon>
                </v-card>
            </div>
        </v-sheet>
    </transition>
    <transition name="expand">
        <v-row class="fast_choose mb-1" dense v-if="!bshowkeybord">
            <v-col :cols="$vuetify.breakpoint.mobile?4:6" v-for="i in 6" :key="i">
                <v-card
                    class="d-flex align-center justify-center rounded-10 btns elevation-0 text-14 hand textBet--text"
                    :height="$vuetify.breakpoint.mobile?40:30"
                    @click="!$vuetify.breakpoint.mobile && (item.stake = onInputFast(item.stake, settintProxy.pageData.form.fast_choose[i-1]))"
                    @touchstart="$vuetify.breakpoint.mobile && (item.stake = onInputFast(item.stake, settintProxy.pageData.form.fast_choose[i-1]))"
                    @touchend="onTouchEnd"
                >
                    <span class="font-weight-bold">+{{amountFormat(settintProxy.pageData.form.fast_choose[i-1])}}</span>
                </v-card>
            </v-col>
            <v-col :cols="$vuetify.breakpoint.mobile?4:6">
                <v-card
                    class="d-flex align-center justify-center rounded-10 btns elevation-0 text-14 hand textBet--text"
                    :height="$vuetify.breakpoint.mobile?40:30"
                    @click="onMax"
                    @touchstart="onMax"
                    @touchend="onTouchEnd"
                >
                    <span class="font-weight-bold">{{LangUtil("最大")}}</span>
                </v-card>
            </v-col>
            <v-col :cols="$vuetify.breakpoint.mobile?8:6">
                <v-card
                    class="d-flex align-center justify-center rounded-10 btns elevation-0 text-14 hand textBet--text"
                    :height="$vuetify.breakpoint.mobile?40:30"
                    @click="item.stake = ''"
                    @touchstart="item.stake = ''"
                    @touchend="onTouchEnd"
                >
                    <span class="font-weight-bold">{{LangUtil("清空")}}</span>
                </v-card>
            </v-col>
        </v-row>
    </transition>

    <div class="d-flex ml10 mr10 mt-2 mb-1">
        <span>{{LangUtil("预计可赢")}}</span>
        <v-spacer />
        <span class="yellow--text font-weight-bold">{{GlobalVar.currency}} {{getPreWin()}}</span>
    </div>

    <div class="d-flex ml10 mr10 mb-2" v-if="$vuetify.breakpoint.mobile">
        <span>{{LangUtil("投注限制")}}</span>
        <v-spacer />
        <span class="yellow--text font-weight-bold">{{GlobalVar.currency}} {{item.maxStake}}</span>
    </div>

    <template v-if="!$vuetify.breakpoint.mobile">
        <div class="ml10 mr10 mb-1" v-if="!item.oddsChance || item.isMarketClose">
            <v-btn
                class="elevation-0 rounded-5 btn_yellow textYellow--text"
                :loading="pageData.loading"
                height="40"
                width="100%"
                :disabled="item.isMarketClose || !isAllowBet"
                @click="onBet"
            >
                <span class="text-14 font-weight-bold">{{item.isMarketClose? LangUtil("盘口已关闭"): LangUtil("投注")}}</span>
            </v-btn>
            <!-- <btn-yellow height="36" width="100%" :rounded5="true" :disabled="item.isMarketClose" @click.native="onBet">
                <span class="text-14 font-weight-bold">{{item.isMarketClose? LangUtil("盘口已关闭"): LangUtil("投注")}}</span>
            </btn-yellow> -->
        </div>
        <div class="ml10 mr10 mb-1" v-else>
            <v-btn
                class="elevation-0 rounded-5 btn_yellow textYellow--text"
                :loading="pageData.loading"
                height="40"
                width="100%"
                @click="onBet"
                :disabled="item.isMarketClose || !isAllowBet"
            >
                <span class="text-14 font-weight-bold">{{LangUtil("接受新赔率")}}(@{{TransMarketPrice(item.odds)}})</span>
            </v-btn>
        </div>
        <!-- <v-sheet v-if="able_to_choose_betterodds" class="d-flex justify-center mt-2" width="100%">
            <v-menu offset-y nudge-bottom="2">
                <template v-slot:activator="{ on, attrs }">
                    <button class="seletbtn" v-bind="attrs" v-on="on" text>
                        <span>{{oddStr[selfProxy.userInfo.better_odds]}}</span>

                        <svg-icon
                            class="textGray--text text-16 mr-2"
                            icon="zoom_out"
                            :class="attrs['aria-expanded'] == 'true' ? 'arrow-up' : 'arrow-down'"
                        ></svg-icon>
                    </button>
                </template>
                <v-sheet class="oddmenu pa-1" color="bgGray">
                    <v-btn
                        width="100%"
                        @click="clickOdditem(0)"
                        height="30"
                        class="seletbtn mb-1"
                        text
                        :class="selfProxy.userInfo.better_odds==0?'actItem':'disactItem'"
                    >
                        <span>{{oddStr[0]}}</span>
                    </v-btn>
                    <v-btn
                        width="100%"
                        @click="clickOdditem(1)"
                        height="30"
                        class="seletbtn"
                        text
                        :class="selfProxy.userInfo.better_odds==1?'actItem':'disactItem'"
                    >
                        <span>{{oddStr[1]}}</span>
                    </v-btn>
                </v-sheet>
            </v-menu>
        </v-sheet> -->
    </template>
    <template v-else>
        <v-row class="mx10" dense>
            <v-col cols="4">
                <v-btn class="elevation-0 rounded-5" color="bgGray" height="40" width="100%" @click="onDelete">
                    <svg-icon class="text-16 textGray--text" icon="delete"></svg-icon>
                </v-btn>
            </v-col>
            <v-col cols="8">
                <div v-if="!item.oddsChance || item.isMarketClose">
                    <v-btn
                        class="elevation-0 rounded-5 btn_yellow textYellow--text"
                        :loading="pageData.loading"
                        height="40"
                        width="100%"
                        :disabled="item.isMarketClose || !isAllowBet"
                        @click="onBet"
                    >
                        <span class="text-14 font-weight-bold">{{item.isMarketClose? LangUtil("盘口已关闭"): LangUtil("投注")}}</span>
                    </v-btn>
                    <!-- <btn-yellow height="40" width="100%" :rounded5="true" :disabled="item.isMarketClose" @click.native="onBet">
                        <span class="text-14 font-weight-bold">{{item.isMarketClose? LangUtil("盘口已关闭"): LangUtil("投注")}}</span>
                    </btn-yellow> -->
                </div>
                <div v-else>
                    <v-btn
                        class="elevation-0 rounded-5 btn_yellow textYellow--text"
                        :loading="pageData.loading"
                        height="40"
                        width="100%"
                        @click="onBet"
                        :disabled="item.isMarketClose || !isAllowBet"
                    >
                        <span class="text-14 font-weight-bold">{{LangUtil("接受新赔率")}}(@{{TransMarketPrice(item.odds)}})</span>
                    </v-btn>
                    <!-- <btn-yellow height="40" width="100%" :rounded5="true" @click.native="onBet">
                        <span class="text-14 font-weight-bold">{{LangUtil("接受新赔率")}}(@{{TransMarketPrice(item.odds)}}) {{LangUtil("投注")}}</span>
                    </btn-yellow> -->
                </div>
            </v-col>
            <!-- <v-col v-if="able_to_choose_betterodds" class="d-flex justify-center mt-2" width="100%">
                <v-menu offset-y nudge-top="110">
                    <template v-slot:activator="{ on, attrs }">
                        <button style="width: 100%" class="seletbtn" v-bind="attrs" v-on="on" text>
                            <span>{{oddStr[selfProxy.userInfo.better_odds]}}</span>

                            <svg-icon
                                class="textGray--text text-16 mr-2"
                                icon="zoom_out"
                                :class="attrs['aria-expanded'] == 'true' ? 'arrow-up' : 'arrow-down'"
                            ></svg-icon>
                        </button>
                    </template>
                    <v-sheet class="oddmenu pa-1" color="bgGray">
                        <v-btn
                            width="100%"
                            @click="clickOdditem(0)"
                            height="30"
                            class="seletbtn mb-1"
                            text
                            :class="selfProxy.userInfo.better_odds==0?'actItem':'disactItem'"
                        >
                            <span>{{oddStr[0]}}</span>
                        </v-btn>
                        <v-btn
                            width="100%"
                            @click="clickOdditem(1)"
                            height="30"
                            class="seletbtn"
                            text
                            :class="selfProxy.userInfo.better_odds==1?'actItem':'disactItem'"
                        >
                            <span>{{oddStr[1]}}</span>
                        </v-btn>
                    </v-sheet>
                </v-menu>
            </v-col> -->
        </v-row>
    </template>
</div>
