.input-box {
    background: linear-gradient(90deg, #fcb131 0%, #ffe64d 100%);
    padding: 1px;
    border-radius: 5px;
}
.input_left {
    color: #0f1213;
    background: linear-gradient(90deg, #fcb131 0%, #ffe64d 100%);
    border-radius: 5px 0px 0px 5px;
    font-weight: bold;
}
.input_right {
    // border: 1px solid #e8e8e2;
    border-left: 0px;
    border-radius: 0px 5px 5px 0px;
}
input {
    width: 100px;
    outline: none;
}
.theme--light {
    .v-menu__content {
        background-color: #f2f2f2 !important;
    }
    .tabs_box {
        border-bottom: solid 2px #e8e8e2;
    }
    .input_right {
        border-color: #8d8e90;
        background-color: #fff;
    }
    .btns {
        background-color: #ffffff;
        border: solid 1px #e8e8e2;
        border-radius: 5px;
    }
    .keybordright {
        background-color: #f7f7f7;
    }
    .seletbtn {
        span {
            color: #837e69;
        }
        background-color: #f2f2f2;
    }
    .actItem {
        border: solid 1px #f8de99;
    }
    .disactItem {
        border: solid 1px #e8ebef;
    }
}
.v-menu__content {
    width: 203px;
}

.theme--dark {
    .tabs_box {
        border-bottom: solid 2px #272828;
    }
    .input_right {
        border-color: #868789;
        background-color: #272828;
    }
    .btns {
        background-color: #272828;
        border: solid 1px #333435;
        border-radius: 5px;
    }
    .keybordright {
        background-color: #2d2f2f;
    }
    .seletbtn {
        span {
            color: #606363;
        }
        background-color: #272828;
        border: solid 1px #2d3132;
    }
    .actItem {
        border: solid 1px #af8718;
    }
    .disactItem {
        border: solid 1px #393a3c;
    }
}

.oddmenu {
    border-radius: 10px;
    width: 100%;
}
.seletbtn {
    border-radius: 10px;
    height: 30px;
    width: 90%;
    position: relative;
    .svg-icon {
        position: absolute;
        right: 0px;
        top: 7px;
    }
}

::v-deep .v-card--link:before {
    border-radius: 9px;
}
::v-deep .v-tabs-slider {
    background-image: linear-gradient(90deg, #fcb131 0%, #ffe64d);
}
.btn_yellow {
    background-image: linear-gradient(90deg, #fcb131 0%, #ffe64d);
}
.fast_choose {
    margin-left: 6px;
    margin-right: 6px;
}

::v-deep .row--dense > .col,
.row--dense > [class*="col-"] {
    padding: 2px;
}

.animation-translate {
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
@keyframes shake {
    0%,
    100% {
        transform: translatey(1px);
    }

    50% {
        transform: translatey(-1px);
    }
}
::v-deep .v-btn .v-ripple__container {
    color: transparent !important;
}
.opacity-0 {
    opacity: 0;
}

::v-deep .v-card--link:before {
    background-color: transparent;
}
.keybordright {
    min-height: 40px;
    margin: 4px 2px;
    border-radius: 8px;
    box-shadow: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.expand-enter-active,
.expand-leave-active {
    transition: all 0.3s ease;
}

.expand-enter,
.expand-leave-to {
    height: 0;
    opacity: 0;
    overflow: hidden;
}
.text-content {
    overflow: hidden;
    text-overflow: ellipsis;
}

.one-line-ellipsis {
    white-space: nowrap;
}
