.theme--light {
    .divitem {
        border: solid 1px #e3e3e3 !important;
        background-color: white;
    }
}
.theme--dark {
    .divitem {
        border: solid 1px #303030 !important;
        background-color: #303030;
    }
}

.relative {
    position: relative;
}

.title-icon {
    position: absolute;
    left: 8px;
}