.font-weight-400 {
    font-weight: 400;
}
.arrow-down {
    transform: rotate(0deg);
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.arrow-up {
    transform: rotate(180deg);
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.def-border {
    border: 2px solid #e8e8e2;
}
.theme--dark .def-border {
    border: 2px solid #333435;
}

.theme--light .v-application {
    background-color: skyblue !important;
    font-family: "GOTHAM_BOOK", "PingFang SC", "Microsoft YaHei" !important;
}
.theme--dark .v-application {
    background-color: black !important;
    font-family: "GOTHAM_BOOK", "PingFang SC", "Microsoft YaHei" !important;
}
.tag-btn-active {
    border-radius: 25px;
    border: 2px solid #ffcd43;
}

.tag-btn-noactive {
    border-radius: 25px;
}
.datebutton {
    width: 202px;
    height: 36px;
}
.d-grid {
    display: grid;
}
.justify-items-center {
    justify-items: center;
}
.box-scroll {
    max-height: calc(100vh - 250px);
    overflow-y: scroll;
}
span {
    display: flex;
    justify-content: center;
}
.font-family-GOTHAM {
    font-family: GOTHAM_BOOK;
}
::v-deep .col {
    padding-left: 0px;
    padding-right: 0px;
}
.resultbtn_zh {
    width: 30px;
    height: 30px;
}
.resultbtn_en {
    width: 40px;
    height: 40px;
    font-size: 11px;
    letter-spacing: -0.6px;
}

::v-deep .theme--dark {
    .el-input__inner {
        background-color: #2f3030 !important;
        border-radius: 8px !important;
        border: none;
        color: #8e8f91;
    }

    .el-input__inner::placeholder {
        color: #8e8f91;
    }

    .el-range-input {
        color: #8e8f91;
        width: auto;
    }

    .sport-select.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
        box-shadow: unset;
        background: #2f3030;
    }
    .v-select .v-select__selections,
    .v-select__slot .v-icon {
        color: #8e8f91;
    }
}

::v-deep .theme--light {
    .el-input__inner {
        background-color: #f4f4f4 !important;
        // background-color: transparent !important;
        border-radius: 8px !important;
        border: none;
        color: #8e8f91;
    }

    .el-input__inner::placeholder {
        color: #8e8f91;
    }

    .el-range-input {
        color: #8e8f91;
        width: auto;
    }

    .el-range__close-icon {
        color: #8e8f91;
    }

    .sport-select.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
        box-shadow: unset;
        background: #f4f4f4;
    }
    .v-select .v-select__selections,
    .v-select__slot .v-icon {
        color: #8e8f91;
    }
}

.el-range__icon {
    margin-top: 3px;
}

.el-range__close-icon {
    margin-top: 3px;
}

.el-range-input::placeholder {
    color: #606266;
}

::v-deep .el-input--suffix .el-input__inner {
    padding-right: 0px;
}

// ::v-deep .sport-select.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
//     box-shadow: unset;
//     background: #f4f4f4;
// }
