<v-dialog :width="$vuetify.breakpoint.mobile ? 320 : 350" v-model="pageData.bShow" :retain-focus="false" persistent>
    <v-card class="rounded-lg" color="bgBanner" :min-height="$vuetify.breakpoint.mobile ? 258 : 289">
        <v-card-title>
            <div class="btnPlain--text" :class="$vuetify.breakpoint.mobile ? 'text-20' : 'text-18'">
                {{pageData.data.title || LangUtil("提示")}}
            </div>
            <v-spacer />
            <v-btn class="mr-n2" icon @click="pageData.bShow = false">
                <svg-icon class="textGray--text" icon="close" :class="$vuetify.breakpoint.mobile ? 'text-14' : 'text-18'" />
            </v-btn>
        </v-card-title>
        <v-divider />
        <v-card-text class="pa-5 pb-0" style="white-space: pre-line">
            <v-sheet
                class="d-flex align-center justify-center btnPlain--text"
                :class="$vuetify.breakpoint.mobile ? 'text-14' : 'text-16'"
                min-height="120"
                color="transparent"
            >
                {{pageData.data.message}}
                <slot></slot>
            </v-sheet>
        </v-card-text>
        <v-card-actions class="justify-center pa-5">
            <v-row dense>
                <v-col v-if="pageData.data.bConfirm" class="mr-1">
                    <v-btn class="rounded-10" width="100%" height="48" color="bgGray" elevation="0" @click="onCancel">
                        {{LangUtil("取消")}}
                    </v-btn>
                </v-col>
                <v-col>
                    <btn-yellow class="text-14" width="100%" height="48" @click.native="onOK">{{LangUtil("确定")}}</btn-yellow>
                </v-col>
            </v-row>
        </v-card-actions>
    </v-card>
</v-dialog>
