.v-application {
    background-color: transparent !important;
    font-family: "GOTHAM_BOOK", "PingFang SC", "Microsoft YaHei" !important;
}
.hand {
    cursor: pointer;
}
.rounded10 {
    border-radius: 10px;
}

.theme--light {
    .v-menu__content {
        box-shadow: none !important;
        background-color: #fff;
        border-radius: 10px;
        border: solid 1px #e8e8e2;
    }
}
.theme--dark {
    .v-menu__content {
        box-shadow: none !important;
        background-color: #202121;
        border-radius: 10px;
        border: solid 1px #333435;
    }
}

.v-expansion-panel-header {
    padding: 0px !important;
    padding-right: 5px !important;
    min-height: 50px !important;
    @media screen and (max-width: 600px) {
        min-height: 35px !important;
    }
}
.v-expansion-panel:not(:first-child)::after {
    border-top: none !important;
}