.v-application {
    background-color: transparent !important;
    font-family: "GOTHAM_BOOK", "PingFang SC", "Microsoft YaHei" !important;
}
.hand {
    cursor: pointer;
}
.arrow-down {
    transform: rotate(0deg);
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.arrow-up {
    transform: rotate(180deg);
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.theme--light {
    .v-menu__content {
        box-shadow: none !important;
        background-color: #fff;
        border-radius: 10px;
        border: solid 1px #e8e8e2;
        max-width: none;
    }
    .line{
        // border-width: 1px;
        // border-style: dashed;
        // border-color: #e8e8e8;
        height: 1px;
        width: 100%;
        background: linear-gradient(to left, transparent 0%, transparent 50%, #ECECEC 50%, #ECECEC 100%);
        background-size: 15px 1px;
        background-repeat: repeat-x;
    }
    .header_mbg{
        background: linear-gradient(to left, #F5B600, #F19900) !important;
    }
}
.theme--dark {
    .v-menu__content {
        box-shadow: none !important;
        background-color: #202121;
        border-radius: 10px;
        border: solid 1px #333435;
        max-width: none;
    }
    .line{
        // border-width: 1px;
        // border-style: dashed;
        // border-color: #202121;
        height: 1px;
        width: 100%;
        background: linear-gradient(to left, transparent 0%, transparent 50%, #343434 50%, #343434 100%);
        background-size: 15px 1px;
        background-repeat: repeat-x;
    }
    // .header_mbg{
    //     background-color: #1b1b1c !important;
    // }
}

.v-expansion-panel-header {
    padding: 0px !important;
    padding-right: 5px !important;
    min-height: 40px !important;
    @media screen and (max-width: 600px) {
        min-height: 36px !important;
    }
}
.v-expansion-panel:not(:first-child)::after {
    border-top: none !important;
}
.v-dialog {
    margin: 12px !important;
    overflow: hidden;
}
.header_m {
    position: sticky;
    top: 0;
    z-index: 5;
}
.font-weight-bold {
    font-family: "GOTHAM_BOLD";
}
.bgtexture {
    background: url("~@/_skin001/assets/img_texture.png") no-repeat right 50px bottom 0px;
}

.v-tooltip__content {
    padding: 1px !important;
    background: linear-gradient(to left, #ffe54d, #fd935b) !important;
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12) !important;
    &.menuable__content__active {
        opacity: 1 !important;
    }
}

.v-dialog--fullscreen{
    margin: 0 !important;
}

.v-btn__content {
    text-transform: none;
}
.v-tab{
    text-transform: none !important;
}

.custom-hr {
    border-top: 1px dashed #d8d8d8;
}

.div-disabled {
    pointer-events: none;
}