.theme--light {
    .input-text {
        border-radius: 8px;
        height: 36px;
        border: solid 2px #e8e8e2;
        input {
            vertical-align: middle;
            height: 36px;
            width: 100%;
            color: #0f1213;
            font-weight: bold;
            outline: none;
        }
    }
    input::placeholder {
        color: #979797;
    }
}
.theme--dark {
    .input-text {
        border-radius: 8px;
        height: 36px;
        border: solid 2px #333435;
        input {
            vertical-align: middle;
            height: 36px;
            width: 100%;
            color: #ffffff;
            font-weight: bold;
            outline: none;
        }
    }
    input::placeholder {
        color: #979797;
    }
}
