.ml10{
    margin-left: 10px;
}
.mr10{
    margin-right: 10px;
}
.mt10{
    margin-top: 10px;
}
.mb10{
    margin-bottom: 10px;
}
.mx10{
    margin-left: 10px;
    margin-right: 10px;
}
.my10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.pl10{
    padding-left: 10px;
}
.pr10{
    padding-right: 10px;
}
.pt10{
    padding-top: 10px;
}
.pb10{
    padding-bottom: 10px;
}
.px10{
    padding-left: 10px;
    padding-right: 10px;
}
.py10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.ml15{
    margin-left: 15px;
}
.mr15{
    margin-right: 15px;
}
.mt15{
    margin-top: 15px;
}
.mb15{
    margin-bottom: 15px;
}
.mx15{
    margin-left: 15px;
    margin-right: 15px;
}
.my15{
    margin-top: 15px;
    margin-bottom: 15px;
}

.pl15{
    padding-left: 15px;
}
.pr15{
    padding-right: 15px;
}
.pt15{
    padding-top: 15px;
}
.pb15{
    padding-bottom: 15px;
}
.px15{
    padding-left: 15px;
    padding-right: 15px;
}
.py15{
    padding-top: 15px;
    padding-bottom: 15px;
}