.vue-notification {
    background: transparent;
    border-radius: 5px;
    border: none;
}
.vue-notification-group {
    width: auto !important;
    min-width: 240px !important;
    // margin-top: 5px !important;
}

.v-fade-right-enter-active,
.v-fade-right-leave-active,
.v-fade-right-move {
    transition: all 0.5s;
}
.v-fade-right-enter,
.v-fade-right-leave-to {
    opacity: 0;
    transform: translateX(500px) scale(0.2);
}
::v-deep .vue-notification-wrapper {
    overflow: visible;
}
.divbox {
    padding: 1px !important;
    background: linear-gradient(to left, #ffe54d, #fd935b) !important;
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12) !important;
    border-radius: 8px;
}
