<notifications
    group="order_finished"
    :width="200"
    class="mr-4"
    animation-type="velocity"
    animation-name="v-fade-right"
    :animation="animation"
    position="top right"
>
    <template slot="body" slot-scope="props">
        <v-sheet
            color="#14186b"
            height="30"
            class="rounded d-flex align-center white--text pl-2 mt-3"
            :class="props.item.data.status == 0 || props.item.data.status == 1 ? 'pr-2' : 'pr-0'"
        >
            <v-sheet width="100%" color="transparent" class="d-flex align-center" @click="goPageOrder(props)">
                <v-sheet width="20px" height="20px" color="#ffffff" class="rounded-pill d-flex align-center justify-center mr-2">
                    <v-icon size="14" :color="props.item.data.status == 0 || props.item.data.status == 1 ? 'successMessage' : 'errorMessage'"
                        >mdi-bell</v-icon
                    ></v-sheet
                >
                <div class="white--text">{{ LangUtil("订单") }}: {{ props.item.data.order_no }}</div>
                <v-spacer />
                <span class="mr-2 ml-1" :class="props.item.data.status == 0 || props.item.data.status == 1 ? 'successMessage--text' : 'errorMessage--text'">
                    {{ LangUtil(EnumFixOrderStatus[props.item.data.status]) }}</span
                >
            </v-sheet>

            <v-btn @click="props.close" icon plan small v-if="props.item.data.status != 0 && props.item.data.status != 1">
                <v-icon color="white" small>mdi-close</v-icon>
            </v-btn>
        </v-sheet>
    </template>
</notifications>
