<v-sheet>
    <v-row>
        <template v-for="(item, index) in marketType">
            <v-col v-if="getMarket(item)" :key="index" cols="12">
                <div class="px-3">
                    <v-tooltip  top content-class="tip" >
                        <template v-slot:activator="{ on, attrs }">
                            <div class="d-inline-flex align-center justify-center font-weight-bold header-tips"
                                v-bind="attrs" v-on="on">
                                <div class="font-weight-bold"
                                    :class="$vuetify.breakpoint.mobile ? 'text-12' : 'text-14'">
                                    {{ getMarket(item).title }}
                                </div>
                        
                                <v-img 
                                    src="@/_skin001/assets/icon/icon_help.png" height="35" width="35"
                                    max-width="35" max-height="35"></v-img>
                            </div>
                        </template>
                        <span>{{ getMarket(item).hint }} </span>
                    </v-tooltip>
                    <v-row dense>
                        <v-col v-for="(sel, index) in getSelections(item)" :key="index" cols="12" md="6">
                            <BtnFixedBet :selection="sel" :matche="matche" :market="getMarket(item)">
                                <div class="ml-2">{{sel.name}}</div>
                            </BtnFixedBet>
                        </v-col>
                    </v-row>
                </div>
            </v-col>
        </template>
    </v-row>
</v-sheet>
