.v-application {
    background-color: #f4f4f4 !important;
    font-family: "GOTHAM_BOOK", "PingFang SC", "Microsoft YaHei" !important;
}

.sheetOutlined {
    border: solid 1px rgb(214, 221, 227) !important;
    border-radius: 10px !important;
}