<div>
    <!-- 下一场 -->
    <template v-if="isNextDay">
        <v-sheet height="45" width="100%" class="hand px-2 py-1 d-flex align-center border-bottom" @click="onShowDetail">
            <svg-icon icon="race" class="text-22 mx-1"></svg-icon>
            <v-sheet
                color="#feba00"
                width="30"
                height="18"
                class="ml-1 rounded d-flex align-center justify-center font-weight-bold text-14"
            >
                R{{1}}
            </v-sheet>
            <span class="font-weight-bold text-14 tagTextColor2--text ml-2">艾莉条斯普林斯</span>
            <v-spacer></v-spacer>
            <div class="d-flex align-center justify-center flex-column">
                <svg-icon class="text-14" icon="p"></svg-icon>
                <v-sheet v-if="false" color="timeColor1" class="white--text rounded text-center px-1 text-12 mt-1" min-width="50">
                    9分45秒
                </v-sheet>
                <v-sheet v-else color="timeColor2" class="white--text rounded text-center px-1 text-12 mt-1" min-width="50"> 33分鐘 </v-sheet>
            </div>
        </v-sheet>
    </template>
    <template v-else>
        <v-row class="tableHeaderColor px-2 py-2 hand" no-gutters @click="isShowContent = !isShowContent">
            <v-col class="d-flex align-center tagTextColor2--text">
                <v-sheet class="rounded" width="2" height="16" color="yellow1"></v-sheet>
                <svg-icon :icon="option.icon" class="text-22 ml-2"></svg-icon>
                <div class="ml-2 font-weight-bold text-14">{{option.title}}</div>
            </v-col>
            <v-col cols="auto" v-for="i of 14" :key="i">
                <v-sheet color="transparent" class="text-center tagTextColor1--text text-14" width="70">R{{ i }}</v-sheet>
            </v-col>
            <v-col cols="auto" class="d-flex align-center">
                <div class="icon-box iconfont text-14 tagTextColor2--text" :class="isShowContent? 'arrow-show':'arrow'">
                    <svg-icon icon="zoom_out"></svg-icon>
                </div>
            </v-col>
        </v-row>

        <v-expand-transition>
            <div v-if="isShowContent">
                <template v-if="true">
                    <v-row v-for="y of 5" :key="y" class="px-2 border-bottom" no-gutters>
                        <v-col class="d-flex align-center tagTextColor2--text hand" @click="onShowDetail">
                            <svg-icon :icon="option.icon" class="text-22 mx-1"></svg-icon>
                            <div class="py-2">
                                <div class="ml-2 font-weight-bold text-14">艾莉条斯普林斯 11月04日</div>
                                <div class="ml-2 font-weight-bold text-14 tagTextColor1--text">澳大利亚</div>
                            </div>
                        </v-col>
                        <v-col cols="auto" class="hand" v-for="i of 14" :key="i" @click="onShowDetail">
                            <v-sheet
                                class="d-flex flex-column align-center justify-center tagTextColor1--text text-14 px-1"
                                width="70"
                                height="100%"
                                style="border-left: 1px solid #d6dde3"
                            >
                                <template v-if="i !== 2">
                                    <div>3,8,7</div>
                                </template>
                                <template v-else>
                                    <svg-icon class="text-14" icon="p"></svg-icon>
                                    <v-sheet
                                        v-if="y==2"
                                        color="timeColor1"
                                        class="white--text rounded text-center px-1 text-12 mt-1"
                                        min-width="50"
                                    >
                                        9分45秒
                                    </v-sheet>
                                    <v-sheet
                                        v-else
                                        color="timeColor2"
                                        class="white--text rounded text-center px-1 text-12 mt-1"
                                        min-width="50"
                                    >
                                        33分鐘
                                    </v-sheet>
                                </template>
                            </v-sheet>
                        </v-col>
                        <v-col cols="auto" class="d-flex align-center">
                            <v-sheet width="14" color="transparent"></v-sheet>
                        </v-col>
                    </v-row>
                </template>
                <!-- v-if="pageData.list.length == 0 && !pageData.loading" -->
                <template v-else>
                    <Nodata height="300" />
                </template>
            </div>
        </v-expand-transition>
    </template>
</div>
