<v-sheet class="pa10 pt15 rounded-b-10 text-14 textGray--text" color="bgBanner">
    <div>
        <!-- 半场 - 主队零失球获胜 / 半场 - 总入球 / 半场 - 两队都得分 / 半场 - 单/双  / 半场 - 亚洲大小盘 / 入球单双 / 客队零失球获胜 / 主队零失球获胜 / 两队都得分 / 亚洲大小盘 / 总入球 -->
        <v-row dense>
            <v-col>
                <BtnFixedBet class="mb-2" v-for="(item,index) in marketOrder1" :key="index" :matche="matche" :market="market" :selection="item">
                    <div>{{MarketUtils.getSelectionName(market.market_type, item)}}</div>
                </BtnFixedBet>
            </v-col>
            <v-col>
                <BtnFixedBet class="mb-2" v-for="(item,index) in marketOrder2" :key="index" :matche="matche" :market="market" :selection="item">
                    <div>{{MarketUtils.getSelectionName(market.market_type, item)}}</div>
                </BtnFixedBet>
            </v-col>
        </v-row>
    </div>
</v-sheet>
